<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website IPIAL</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
</head>
<body>
    <!-- x ---------- Início do cabeçalho ---------- x -->
    <section class="sub-header">
        <!-- x ---------- Ínicio da barra de navegação ---------- x -->
        <nav>
            <a href="index.html"><img src="img/logo/ipial.png" alt="Logo"></a>
            <section class="nav-links" id="nav-links">
                <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="index.html">PÁGINA INICIAL</a></li>
                    <li><a href="sobre-o-ipial.html">SOBRE O IPIAL</a></li>
                    <li><a href="aluno.html">ALUNO</a></li>
                    <li><a href="anuncios.html">ANÚNCIOS</a></li>
                    <li><a href="contactos.html">CONTACTOS</a></li>
                </ul>
            </section>
            <i class="fa-solid fa-bars" onclick="showMenu()"></i>
        </nav>
        <!-- x ---------- Fim da barra de navegação ---------- x -->
        <h1>Aluno</h1>
    </section>
    <!-- x ---------- Fim do cabeçalho ---------- x -->
    
    <!-- x ---------- Início do conteúdo principal ---------- x -->
    <main>
        <!-- x ---------- Início da secção Cursos ---------- x -->
        <section class="course">
            <h1>Cursos que lecionamos</h1>
            <p>
                Educar não é repetir palavras, é criar ideias, 
                é encantar.<br>
                "Augusto Cury"
            </p>
            
            <article class="row">
                <div class="course-col">
                    <h3>Tecnólogo</h3>
                    <p>
                        Tecnólogo é um curso de nível superior 
                        voltado para o mercado de trabalho. 
                        Também é conhecido como curso de 
                        tecnologia ou graduação tecnológica e 
                        tem duração menor que os cursos de 
                        bacharelado ou licenciatura: de dois a 
                        três anos.
                    </p>
                </div>

                <div class="course-col">
                    <h3>Bacharelado</h3>
                    <p>
                        O bacharelado é uma formação de nível 
                        superior que confere grau de bacharel. 
                        Com duração média entre 3 e 6 anos, o 
                        curso de bacharelado prepara 
                        profissionais generalistas com sólidos 
                        conhecimentos sobre a base de uma 
                        profissão.
                    </p>
                </div>

                <div class="course-col">
                    <h3>Licenciatura</h3>
                    <p>
                        Licenciatura é uma modalidade de curso 
                        do ensino superior que oferece aos seus 
                        alunos conteúdos direcionados a docência 
                        em determinada área do conhecimento. 
                        Desse modo, os cursos de licenciatura 
                        têm como foco a formação de professores 
                        para atuar no ensino básico. 
                    </p>
                </div>
            </article>
        </section>
        <!-- x ---------- Fim da secção Cursos ---------- x -->

        <!-- x ---------- Início da secção Facilities ---------- x -->
        <section class="facilities">
            <h1>Nossas extensões</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            
            <article class="row">
                <div class="facilities-col">
                    <img src="img/library.jpg" alt="">
                    <h3>Das melhores bibliotecas do mundo</h3>
                    <p>
                        Não existe conhecimento sem uma boa 
                        bagagem de leitura.<br>
                        "Mayara Benatti"
                    </p>
                </div>

                <div class="facilities-col">
                    <img src="img/basketball.jpg" alt="">
                    <h3>O desporto também ensina a viver</h3>
                    <p>
                        Todo mundo tem talento, mas para ter 
                        capacidade é preciso muito trabalho.<br>
                        "Michael Jordan"
                    </p>
                </div>

                <div class="facilities-col">
                    <img src="img/cafetaria.jpg" alt="">
                    <h3>A alimentação é necessária e sagrada</h3>
                    <p>
                        Não existe amor mais sincero do que 
                        aquele pela comida.<br>
                        "George Bernard Shaw"
                    </p>
                </div>
            </article>
        </section>
        <!-- x ---------- Fim da secção Facilities ---------- x -->
    </main>
    <!-- x ---------- Fim do conteúdo principal ---------- x -->
    
    <!-- x ---------- Início do Footer ---------- x -->
    <footer>
        <section class="icons">
            <a href="https://www.facebook.com/groups/285320911631577" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/explore/locations/1016981729/alda-lara-impal/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/search/results/all/?keywords=Alda%20Lara&origin=GLOBAL_SEARCH_HEADER&sid=zUa" target="_blank"><i class="fa-brands fa-linkedin"></i></a> </section>
        <p><i class="fa-sharp fa-regular fa-copyright fa-sm"></i> 2023 IPIAL - Instituto Politécnico Industrial Alda Lara | TODOS OS DIREITOS RESERVADOS</p>
    </footer>
    <!-- x ---------- Fim do Footer ---------- x -->
    <script src="js/app.js"></script>
</body>
</html>