<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website IPIAL</title>
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/webfont/fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
</head>
<body>
    <!-- x ---------- Início do cabeçalho ---------- x -->
    <section class="sub-header">
        <!-- x ---------- Ínicio da barra de navegação ---------- x -->
        <nav>
            <a href="index.html"><img src="../public/img/logo/ipial.png" alt="Logo"></a>
            <section class="nav-links" id="nav-links">
                <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="index.html">PÁGINA INICIAL</a></li>
                    <li class="dropdown">
                        <a href="#">SOBRE O IPIAL</a>
                        <div class="dropdown-menu">
                            <a href="sobre-o-ipial.html">Quem nós somos</a>
                            <a href="quadros.html">Nossos Quadros</a>
                            <a href="infraestrutura.html">Infraestrutura</a>
                        </div>
                    </li>
                    <li><a href="aluno.html">ALUNO</a></li>
                    <li><a href="anuncios.html">ANÚNCIOS</a></li>
                    <li><a href="contactos.html">CONTACTOS</a></li>
                </ul>
            </section>
            <i class="fa-solid fa-bars" onclick="showMenu()"></i>
        </nav>
        <!-- x ---------- Fim da barra de navegação ---------- x -->
        <h1>Anúncios</h1>
    </section>
    <!-- x ---------- Fim do cabeçalho ---------- x -->
    
    <!-- x ---------- Início do conteúdo principal ---------- x -->
    <main>
        <!-- x ---------- Início da secção do Blog ---------- x -->
        <section class="blog-content">
            <article class="row">
                <aside class="blog-left">
                    <img src="img/certificate.jpg" alt="">
                    <h2>Nossos certificados e programas online para 2023</h2>
                    <p>Para o corrente ano temos os cursos de:</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum consequuntur nam illo voluptas excepturi unde autem alias molestiae, eligendi assumenda mollitia, consectetur animi libero qui aspernatur reiciendis dolore, maxime illum.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque et exercitationem quidem harum aliquid molestiae officia provident. Tempore illo quasi eaque dolores asperiores quod eligendi voluptates nihil officiis. Temporibus, error.
                    Odio dolorum mollitia aut eum eligendi minima veritatis rem non voluptas beatae nesciunt voluptates temporibus deserunt natus, repellat expedita neque quaerat incidunt autem nisi sed consectetur reprehenderit officiis optio. Accusantium.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque et exercitationem quidem harum aliquid molestiae officia provident. Tempore illo quasi eaque dolores asperiores quod eligendi voluptates nihil officiis. Temporibus, error.
                    Odio dolorum mollitia aut eum eligendi minima veritatis rem non voluptas beatae nesciunt voluptates temporibus deserunt natus, repellat expedita neque quaerat incidunt autem nisi sed consectetur reprehenderit officiis optio. Accusantium.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque et exercitationem quidem harum aliquid molestiae officia provident. Tempore illo quasi eaque dolores asperiores quod eligendi voluptates nihil officiis. Temporibus, error.
                    Odio dolorum mollitia aut eum eligendi minima veritatis rem non voluptas beatae nesciunt voluptates temporibus deserunt natus, repellat expedita neque quaerat incidunt autem nisi sed consectetur reprehenderit officiis optio. Accusantium.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque et exercitationem quidem harum aliquid molestiae officia provident. Tempore illo quasi eaque dolores asperiores quod eligendi voluptates nihil officiis. Temporibus, error.
                    Odio dolorum mollitia aut eum eligendi minima veritatis rem non voluptas beatae nesciunt voluptates temporibus deserunt natus, repellat expedita neque quaerat incidunt autem nisi sed consectetur reprehenderit officiis optio. Accusantium.</p>
                    
                    <div class="comment-box">
                        <h3>Deixe um comentário</h3>
                        <form class="comment-form">
                            <input type="text" placeholder="Introduza o seu nome">
                            <input type="email" placeholder="Introduza o seu e-mail">
                            <textarea  id="" rows="5" placeholder="Seu comentário"></textarea>
                            <button type="submit" class="hero-btn blue-btn">COMENTAR</button>
                        </form>
                    </div>
                </aside>
                <article class="blog-right">
                    <h3>Categorias de postagens</h3>
                    <section>
                        <span>Análise e Desenvolvimento de Sistemas</span>
                        <span>30</span>
                    </section>
                    <section>
                        <span>Ciências da Computação</span>
                        <span>28</span>
                    </section>
                    <section>
                        <span>Engenharia de Software</span>
                        <span>26</span>
                    </section>
                    <section>
                        <span>Engenharia de Computação</span>
                        <span>24</span>
                    </section>
                    <section>
                        <span>Sistemas para Internet</span>
                        <span>22</span>
                    </section>
                    <section>
                        <span>Jogos Digitais</span>
                        <span>20</span>
                    </section>
                    <section>
                        <span>Artes visuais</span>
                        <span>18</span>
                    </section>
                    <section>
                        <span>Música</span>
                        <span>16</span>
                    </section>
                    <section>
                        <span>Artes da escrita</span>
                        <span>14</span>
                    </section>
                    <section>
                        <span>Filosofia</span>
                        <span>12</span>
                    </section>
                    <section>
                        <span>Psicologia</span>
                        <span>10</span>
                    </section>
                </article>
            </article>
        </section>
        <!-- x ---------- Fim da secção do Blog ---------- x -->
    </main>
    <!-- x ---------- Fim do conteúdo principal ---------- x -->
    
    <!-- x ---------- Início do Footer ---------- x -->
    <footer>
        <section class="icons">
            <a href="https://www.facebook.com/groups/285320911631577"target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/explore/locations/1016981729/alda-lara-impal/"target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/search/results/all/?keywords=Alda%20Lara&origin=GLOBAL_SEARCH_HEADER&sid=zUa" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="login.html"><i class="fa-solid fa-arrow-right-to-bracket fa-xl"></i></a> 
        </section>
        <p><i class="fa-sharp fa-regular fa-copyright fa-sm"></i> 2023 IPIAL - Instituto Politécnico Industrial Alda Lara | TODOS OS DIREITOS RESERVADOS</p>
    </footer>
    <!-- x ---------- Fim do Footer ---------- x -->
    <script src="../public/js/app.js"></script>
</body>
</html>