<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website IPIAL</title>
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/webfont/fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
</head>
<body>
    <!-- x ---------- Início do cabeçalho ---------- x -->
    <section class="sub-header">
        <!-- x ---------- Ínicio da barra de navegação ---------- x -->
        <nav>
            <a href="index.html"><img src="../public/img/logo/ipial.png" alt="Logo"></a>
            <section class="nav-links" id="nav-links">
                <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="index.html">PÁGINA INICIAL</a></li>
                    <li class="dropdown">
                        <a href="#">SOBRE O IPIAL</a>
                        <div class="dropdown-menu">
                            <a href="sobre-o-ipial.html">Quem nós somos</a>
                            <a href="quadros.html">Nossos Quadros</a>
                            <a href="infraestrutura.html">Infraestrutura</a>
                        </div>
                    </li>
                    <li><a href="aluno.html">ALUNO</a></li>
                    <li><a href="anuncios.html">ANÚNCIOS</a></li>
                    <li><a href="contactos.html">CONTACTOS</a></li>
                </ul>
            </section>
            <i class="fa-solid fa-bars" onclick="showMenu()"></i>
        </nav>
        <!-- x ---------- Fim da barra de navegação ---------- x -->
        <h1>Contacte-nos</h1>
    </section>
    <!-- x ---------- Fim do cabeçalho ---------- x -->
    
    <!-- x ---------- Início do conteúdo principal ---------- x -->
    <main>
        <!-- x ---------- Início da secção Location ---------- x -->
        <section class="location">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d492.82466526057834!2d13.232873187748451!3d-8.823846024198502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1a51f362b6b5ae2b%3A0xf42c915d5db648b6!2sEscola%20Lara!5e0!3m2!1spt-PT!2sao!4v1682464519214!5m2!1spt-PT!2sao" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <!-- x ---------- Fim da secção Location ---------- x -->

        <!-- x ---------- Início da secção Contacte-nos ---------- x -->
        <section class="contact-us">
            <article class="row">
                <div class="contact-col">
                    <div>
                        <i class="fa-solid fa-house" style="color: #06338A;"></i>
                        <span>
                            <h5>Luanda -Mun. Ingombota</h5>
                            <p>Avenida</p>
                        </span>
                    </div>
                    <div>
                        <i class="fa-solid fa-phone" style="color: #06338A;"></i>
                        <span>
                            <h5>+244 912345678</h5>
                            <p>De Segunda à Sexta, das 08 ás 16h</p>
                        </span>
                    </div>
                    <div>
                        <i class="fa-solid fa-envelope" style="color: #06338A;"></i>
                        <span>
                            <h5>aldalara@gmail.com</h5>
                            <p>Invie-nos as suas inquietações</p>
                        </span>
                    </div>
                </div>
                <div class="contact-col">
                    <form>
                        <input type="text" placeholder="Introduza o seu nome" required>
                            <input type="email" placeholder="Introduza o seu e-mail" required>
                            <input type="email" placeholder="Introduza o seu assunto" required>
                            <textarea  id="" rows="8" placeholder="Mensagem"></textarea>
                            <button type="submit" class="hero-btn blue-btn">ENVIAR</button>
                    </form>
                </div>
            </article>
        </section>
        <!-- x ---------- Fim da secção Contacte-nos ---------- x -->
    </main>
    <!-- x ---------- Fim do conteúdo principal ---------- x -->
    
    <!-- x ---------- Início do Footer ---------- x -->
    <footer>
        <section class="icons">
            <a href="https://www.facebook.com/groups/285320911631577" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/explore/locations/1016981729/alda-lara-impal/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/search/results/all/?keywords=Alda%20Lara&origin=GLOBAL_SEARCH_HEADER&sid=zUa" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="login.html"><i class="fa-solid fa-arrow-right-to-bracket fa-xl"></i></a>
        </section>
        <p><i class="fa-sharp fa-regular fa-copyright fa-sm"></i> 2023 IPIAL - Instituto Politécnico Industrial Alda Lara | TODOS OS DIREITOS RESERVADOS</p>
    </footer>
    <!-- x ---------- Fim do Footer ---------- x -->
    <script src="app.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
</body>
</html>