<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website IPIAL</title>
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/webfont/fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
</head>
<body>
    <!-- x ---------- Início do cabeçalho ---------- x -->
    <header class="header">
        <!-- x ---------- Ínicio da barra de navegação ---------- x -->
        <nav>
            <a href="index.html"><img src="../public/img/logo/ipial.png" alt="Logo"></a>
            <section class="nav-links" id="nav-links">
                <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="index.html">PÁGINA INICIAL</a></li>
                    <li>
                        <a href="sobre-o-ipial.html" onmouseover="showDropdown()">SOBRE O IPIAL</a>
                        <ul class="dropdown">
                            <li><a href="#" class="">Nossa História</a></li>
                            <li><a href="#" class="">Perfil do Diretor</a></li>
                            <li><a href="#" class="">Outros Quadros</a></li>

                        </ul>
                    
                    </li>
                    <li><a href="aluno.html">ALUNO</a></li>
                    <li><a href="anuncios.html">ANÚNCIOS</a></li>
                    <li><a href="contactos.html">CONTACTOS</a></li>
                </ul>
            </section>
            <i class="fa-solid fa-bars" onclick="showMenu()"></i>
        </nav>
        <!-- x ---------- Fim da barra de navegação ---------- x -->

        <section class="text-box">
            <h1>Um dos melhores Institutos</h1>
            <p>
                A cada ano letivo que se inicia e acaba, você
                 está mais próximo do sucesso. Aproveite todo 
                 o conhecimento que pode adquirir na escola, pós é aqui onde sentamos para aprender, e depois levantamos para ensinar! 
            </p>

            <p>
                O ano letivo dá início a uma jornada de 
                descobertas e superação. Ao final do ano, você 
                olhará para trás com orgulho de tudo que 
                vivenciou na escola! <br>Seja bem-vindo!
            </p>

            <a href="" class="hero-btn">Fazer Inscrição</a>
        </section>
    </header>
    <!-- x ---------- Fim do cabeçalho ---------- x -->
    
    <!-- x ---------- Início do conteúdo principal ---------- x -->
    <main>
        <!-- x ---------- Início da secção Cursos ---------- x -->
        <section class="course">
            <h1>Cursos que lecionamos</h1>
            <p>
                Educar não é repetir palavras, é criar ideias, 
                é encantar.<br>
                "Augusto Cury"
            </p>
            
            <article class="row">
                <div class="course-col">
                    <h5 class="curso">CONSTRUÇÃO CÍVIL</h5>
                    <p class="color-p">
                        Construção Cívil é um curso que visa orientar
                        o aluno para poder planejanar a execução de obras, 
                        fiscalizar e acompanhar o desenvolvimento de 
                        todas as etapas de uma construção. 
                    </p>
                    <p class="fa-curso"><i class="fa-solid fa-info fa-sm" style="color: #ffffff;"></i> Área: Manutenção Industrial</p>
                    <p class="fa-curso"><i class="fa-solid fa-graduation-cap fa-sm" style="color: #ffffff;"></i>Formação: Média Técnica</p>

                    <p class="fa-curso"><i class="fa-solid fa-hourglass-start fa-sm" style="color: #ffffff;"></i> Duração: 4 anos</p>
                    <p class="fa-curso"><strong>Coord:</strong> António Pedro</p>

                </div>

                <div class="course-col">
                    <h5 class="curso">ELETRICIDADE</h5>
                    <p class="color-p">
                       Eletricidade é um curso que prepara o aluno a ser 
                       capaz de desenvolver habilidades para instalar 
                       circuitos e equipamentos elétricos em residências 
                       e pequenas edificações.
                    </p>
                    <p class="fa-curso"><i class="fa-solid fa-info fa-sm" style="color: #ffffff;"></i> Área: Manutenção Industrial</p>
                    <p class="fa-curso"><i class="fa-solid fa-graduation-cap fa-sm" style="color: #ffffff;"></i>Formação: Média Técnica</p>
                    <p class="fa-curso"><i class="fa-solid fa-hourglass-start fa-sm" style="color: #ffffff;"></i> Duração: 4 anos</p>
                    <p class="fa-curso"><strong>Coord:</strong> Joana Pires</p>

                </div>

                <div class="course-col">
                    <h5 class="curso">ELECTRÓNICA E TELECOMUNICÕES</h5>
                    <p class="color-p">
                       Electrónica e Telecomunucações é um curso que estuda 
                       o uso de circuitos formados por componentes elétricos
                       e eletrônicos, e implantar redes de sistema de comunicação.
                    </p>
                    <p class="fa-curso"><i class="fa-solid fa-info fa-sm" style="color: #ffffff;"></i> Área: Tecnologia de Informação</p>
                    <p class="fa-curso"><i class="fa-solid fa-graduation-cap fa-sm" style="color: #ffffff;"></i>Formação: Média Técnica</p>
                    <p class="fa-curso"><i class="fa-solid fa-hourglass-start fa-sm" style="color: #ffffff;"></i> Duração: 4 anos</p>
                    <p class="fa-curso"><strong>Coord:</strong> Patrícia Miguel</p>

                </div>

                <div class="course-col">
                    <h5 class="curso">INFORMÁTICA</h5>
                    <p class="color-p">
                        Informática é um curso que prepara o aluno a desenvolver 
                        sistemas de informática, gerenciamento softwares, a instalação
                        e configuraração em redes de computadores locais.
                    </p>
                    <p class="fa-curso"><i class="fa-solid fa-info fa-sm" style="color: #ffffff;"></i> Área: Tecnologia de Informação</p>
                    <p class="fa-curso"><i class="fa-solid fa-graduation-cap fa-sm" style="color: #ffffff;"></i>Formação: Média Técnica</p>
                    <p class="fa-curso"><i class="fa-solid fa-hourglass-start fa-sm" style="color: #ffffff;"></i> Duração: 4 anos</p>
                    <p class="fa-curso"><strong>Coord:</strong> Sivi Sebastião</p>

                </div>
            </article>
        </section>
        <!-- x ---------- Fim da secção Cursos ---------- x -->

        <!-- x ---------- Início da secção Campus ---------- x -->
        <section class="campus">
            <h1>Nosso recinto instituicional</h1>
            <p>
                Não há saber mais ou saber menos: há saberes 
                diferentes.<br>
                "Paulo Freire"
            </p>
            
            <article class="row">
                <div class="campus-col">
                    <img src="../public/img/campus-1.jpg" alt="">
                    <div class="layer">
                        <h3>LONDON</h3>
                    </div>
                </div>

                <div class="campus-col">
                    <img src="../public/img/campus-2.jpg" alt="">
                    <div class="layer">
                        <h3>NEW YORK</h3>
                    </div>
                </div>

                <div class="campus-col">
                    <img src="../public/img/campus-3.jpg" alt="">
                    <div class="layer">
                        <h3>SINGAPURE</h3>
                    </div>
                </div>
            </article>
        </section>
        <!-- x ---------- Fim da secção Campus ---------- x -->

        <!-- x ---------- Início da secção Facilities ---------- x -->
        <section class="facilities">
            <h1>Nossas extensões</h1>
            <p>
                Para mim, escola é mais do que um lugar, 
                é a parte de quem sou.</br>
                "Otaniel Fernandes"
            </p>
            
            <article class="row">
                <div class="facilities-col">
                    <img src="../public/img/library.jpg" alt="">
                    <h3>Das melhores bibliotecas do mundo</h3>
                    <p>
                        Não existe conhecimento sem uma boa 
                        bagagem de leitura.<br>
                        "Mayara Benatti"
                    </p>
                </div>

                <div class="facilities-col">
                    <img src="../public/img/basketball.jpg" alt="">
                    <h3>O desporto também ensina a viver</h3>
                    <p>
                        Todo mundo tem talento, mas para ter 
                        capacidade é preciso muito trabalho.<br>
                        "Michael Jordan"
                    </p>
                </div>

                <div class="facilities-col">
                    <img src="../public/img/cafetaria.jpg" alt="">
                    <h3>A alimentação é necessária e sagrada</h3>
                    <p>
                        Não existe amor mais sincero do que 
                        aquele pela comida.<br>
                        "George Bernard Shaw"
                    </p>
                </div>
            </article>
        </section>
        <!-- x ---------- Fim da secção Facilities ---------- x -->

        <!-- x ---------- Início da secção Testimonials ---------- x -->
        <section class="testimonials">
            <h1>O que os nossos estudantes dizem</h1>
            <p>A sua opinião é importante para nós.</p>

            <article class="row">
                <div class="testimonal-col">
                    <img src="../public/img/user-1.jpg" alt="">
                    <div>
                        <p>
                            Só tenho agradecimentos e elogios a 
                            fazer sobre o curso Técnico de Informática.  
                            Nossos Professores nos enriqueceram com 
                            seus conteúdos e suas inúmeras 
                            experiências.
                        </p>
                        <h3>Caroline Berkley</h3>
                        <i class="fa-solid fa-star" style="color:#06338a;"></i>
                        <i class="fa-solid fa-star" style="color:#06338a;"></i>
                        <i class="fa-solid fa-star" style="color:#06338a;"></i>
                        <i class="fa-solid fa-star" style="color:#06338a;"></i>
                        <i class="fa-regular fa-star" style="color:#06338a;"></i>
                    </div>
                </div>

                <div class="testimonal-col">
                    <img src="../public/img/user-2.jpg" alt="">
                    <div>
                        <p>
                            Excelente instituição de ensino, com 
                            profissionais bem preparados e uma 
                            ótima infraestrutura. Aqui não 
                            há apenas a qualidade de ensino, há
                            também o desenvolvimento do ser-humano 
                            como um profissional completo!
                        </p>
                        <h3>Ichiro Akira</h3>
                        <i class="fa-solid fa-star" style="color:#06338a;"></i>
                        <i class="fa-solid fa-star" style="color:#06338a;"></i>
                        <i class="fa-solid fa-star" style="color:#06338a;"></i>
                        <i class="fa-solid fa-star" style="color:#06338a;"></i>
                        <i class="fa-solid fa-star-half-stroke" style="color:#06338a;"></i>
                    </div>
                </div>
            </article>
        </section>
        <!-- x ---------- Fim da secção Testimonials ---------- x -->

        <!-- x ---------- Início da secção Call To Action ---------- x -->
        <section class="cta">
            <h1>Inscreva-te já para fazeres parte de um dos melhores<br> Institutos de Angola</h1>
            <a href="" class="hero-btn">CONTACTE-NOS</a>
        </section>
        <!-- x ---------- Fim da secção Call To Action ---------- x -->
    </main>
    <!-- x ---------- Fim do conteúdo principal ---------- x -->
    
    <!-- x ---------- Início do Footer ---------- x -->
    <footer>
        <section class="icons">
            <a href="https://www.facebook.com/groups/285320911631577" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/explore/locations/1016981729/alda-lara-impal/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/search/results/all/?keywords=Alda%20Lara&origin=GLOBAL_SEARCH_HEADER&sid=zUa" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </section>
        <p><i class="fa-sharp fa-regular fa-copyright fa-sm"></i> 2023 IPIAL - Instituto Politécnico Industrial Alda Lara | TODOS OS DIREITOS RESERVADOS</p>
    </footer>
    <!-- x ---------- Fim do Footer ---------- x -->
    <script src="../public/js/app.js"></script>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
</body>
</html>