<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home do Administrador</title>
    <link rel="stylesheet" href="../public/webfont/fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="stylesheet" href="../public/webfont/fontawesome-free-6.3.0-web/css/fontawesome.min.css">
    <link rel="stylesheet" href="../public/css/style3.css">
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>

        <div class="lateral-menu">
            <ul>
                <li class="list active">
                    <a href="index-admin.html">
                        <span class="icons"><i class="fa-solid fa-gear fa-xl" style="color: #ffffff;"></i></span>
                        <span class="titulo">Administrador</span>
                    </a>
                </li>

                <li class="list">
                    <a href="noticias-admin.html">
                        <span class="icons"><i class="fa-regular fa-bell fa-xl" style="color: #ffffff;"></i></span>
                        <span class="titulo">Notícias</span>
                    </a>
                </li>

                <li class="list">
                    <a href="pauta-admin.html">
                        <span class="icons"><i class="fa-solid fa-upload fa-xl" style="color: #ffffff;"></i></span>
                        <span class="titulo">Pautas</span>
                    </a>
                </li>

                <li class="list">
                    <a href="alunos-admitidos.html">
                        <span class="icons"><i class="fa-solid fa-list fa-xl" style="color: #ffffff;"></i></i></span>
                        <span class="titulo">Inscrição</span>
                    </a>
                </li>

                <li class="list">
                    <a href="index.html">
                        <span class="icons"><i class="fa-solid fa-arrow-right-from-bracket fa-xl" style="color: #ffffff;"></i></span>
                        <span class="titulo">Sair</span>
                    </a>
                </li>
            </ul>
        </div>
        

        <div class="div-area-admitidos">
            <div class="area-procura">
                <span ><input type="search" name="procura" id="procura" placeholder="Digite aqui o nome do candidato" class="input-search"></span>
               <span><i class="fa-solid fa-magnifying-glass fa-2xl" style="color: #06338a;"></i></span>
            </div>
            <div class="div-table-admitidos">
                <table class="table-admitidos">
                    <thead class="cabecalho-table-admitidos">
                        <tr class="linha-table-cabeçalho">
                            <th>Nome do Candidato</th>
                            <th>Número do BI</th>
                            <th>Código de Inscrição</th>
                        </tr>
                    </thead> 

                    <tbody class="corpo-table-admitidos">
                        <tr>
                            <td>Otaniel de Carvalho Fernandes</td>
                            <td>234567890LA4534</td>
                            <td>$45673t6873wi9853o3</td>
                            <td><a href="#"><i class="fa-solid fa-eye fa-lg" style="color: #525252;"></i></a></td>
                        </tr>

                        <tr>
                            <td>Aceltino Kiaku Quianvo</td>
                            <td>234567890LA4534</td>
                            <td>$45673t6873wi9853o3</td>
                            <td><a href="#"><i class="fa-solid fa-eye fa-lg" style="color: #525252;"></i></a></td>
                        </tr>

                        <tr>
                            <td>Eurico Sequele Dande</td>
                            <td>234567890LA4534</td>
                            <td>$45673t6873wi9853o3</td>
                            <td><a href="#"><i class="fa-solid fa-eye fa-lg" style="color: #525252;"></i></a></td>
                        </tr>

                        <tr>
                            <td>Augostinho Famoroso Zage</td>
                            <td>234567890LA4534</td>
                            <td>$45673t6873wi9853o3</td>
                            <td><a href="#"><i class="fa-solid fa-eye fa-lg" style="color: #525252;"></i></a></td>
                        </tr>

                        <tr>
                            <td>Leronarno Cassule</td>
                            <td>234567890LA4534</td>
                            <td>$45673t6873wi9853o3</td>
                            <td><a href="#"><i class="fa-solid fa-eye fa-lg" style="color: #525252;"></i></a></td>
                        </tr>

                        <tr>
                            <td>Marcelina Rafael</td>
                            <td>234567890LA4534</td>
                            <td>$45673t6873wi9853o3</td>
                            <td><a href="#"><i class="fa-solid fa-eye fa-lg" style="color: #525252;"></i></a></td>
                        </tr>

                        <tr>
                            <td>José Rufino</td>
                            <td>234567890LA4534</td>
                            <td>$45673t6873wi9853o3</td>
                            <td><a href="#"><i class="fa-solid fa-eye fa-lg" style="color: #525252;"></i></a></td>
                        </tr>

                        <tr>
                            <td>Otaniel de Carvalho Fernandes</td>
                            <td>234567890LA4534</td>
                            <td>$45673t6873wi9853o3</td>
                            <td><a href="#"><i class="fa-solid fa-eye fa-lg" style="color: #525252;"></i></a></td>
                        </tr>

                        <tr>
                            <td>Otaniel de Carvalho Fernandes</td>
                            <td>234567890LA4534</td>
                            <td>$45673t6873wi9853o3</td>
                            <td><a href="#"><i class="fa-solid fa-eye fa-lg" style="color: #525252;"></i></a></td>
                        </tr>

                        <tr>
                            <td>Otaniel de Carvalho Fernandes</td>
                            <td>234567890LA4534</td>
                            <td>$45673t6873wi9853o3</td>
                            <td><a href="#"><i class="fa-solid fa-eye fa-lg" style="color: #525252;"></i></a></td>
                        </tr>

                        <tr>
                            <td>Otaniel de Carvalho Fernandes</td>
                            <td>234567890LA4534</td>
                            <td>$45673t6873wi9853o3</td>
                            <td><a href="#"><i class="fa-solid fa-eye fa-lg" style="color: #525252;"></i></a></td>
                        </tr>

                        <tr>
                            <td>Alcina Rafael</td>
                            <td>234567890LA4534</td>
                            <td>$45673t6873wi9853o3</td>
                            <td><a href="#"><i class="fa-solid fa-eye fa-lg" style="color: #525252;"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="div-btn-publicar">
                <a href="#" class="btn-publicar">Gerar Documento</a>
            </div>
        </div>

        <script src="../public/js/index-admin.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>