<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home do Administrador</title>
    <link rel="stylesheet" href="src/public/webfont/fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="stylesheet" href="src/public/webfont/fontawesome-free-6.3.0-web/css/fontawesome.min.css">
    <link rel="stylesheet" href="src/public/css/style3.css">
    <link rel="stylesheet" href="src/public/css/main.css">
</head>
<body>

        <div class="lateral-menu">
            <ul>
                <li class="list">
                    <a href="index-admin.html">
                        <span class="icons"><i class="fa-solid fa-gear fa-xl" style="color: #ffffff;"></i></span>
                        <span class="titulo">Administrador</span>
                    </a>
                </li>

                <li class="list">
                    <a href="noticias-admin.html">
                        <span class="icons"><i class="fa-regular fa-bell fa-xl" style="color: #ffffff;"></i></span>
                        <span class="titulo">Notícias</span>
                    </a>
                </li>

                <li class="list">
                    <a href="pauta-admin.html">
                        <span class="icons"><i class="fa-solid fa-upload fa-xl" style="color: #ffffff;"></i></span>
                        <span class="titulo">Pautas</span>
                    </a>
                </li>

                <li class="list active">
                    <a href="alunos-admitidos.html">
                        <span class="icons"><i class="fa-solid fa-list fa-xl" style="color: #ffffff;"></i></i></span>
                        <span class="titulo">Inscrição</span>
                    </a>
                </li>

                <li class="list">
                    <a href="index.html">
                        <span class="icons"><i class="fa-solid fa-arrow-right-from-bracket fa-xl" style="color: #ffffff;"></i></span>
                        <span class="titulo">Sair</span>
                    </a>
                </li>
            </ul>
        </div>
        

        <div class="div-area-admitidos">
            <div class="area-procura">
              <!--
                    <section class="toggle-button">
                      <button class="option1 active">Habilitar inscrições</button>
                      <button class="option2">Desabilitar inscrições</button>
                    </section>
                -->
                </section>
            </div>
            <div class="div-table-admitidos">
                <table class="table-admitidos">
                    <thead class="cabecalho-table-admitidos">
                        <tr class="linha-table-cabeçalho">
                            <th>Nome do Candidato</th>
                            <th>Número do BI</th>
                            <th>Data de Nascimento</th>
                        </tr>
                    </thead> 

                    <tbody class="corpo-table-admitidos">
                        {% if inscritos != null %}
                        {% for inscrito in inscritos %}
                        <tr>
                            <td>{{ inscrito.nome_completo }}</td>
                            <td>{{ inscrito.num_BI }}</td>
                            <td>{{ inscrito.data_nascimento }}</td>
                            <td><a href="http://localhost/ipial-alda-lara/Inscricoes/VerInscricao/{{ inscrito.id_inscrito }}"><i class="fa-solid fa-eye fa-lg" style="color: #525252;"></i></a></td>
                        </tr>
                        {% endfor %}
                        {% else %}
                            <p>Sem dados cadastrados</p>
                        {% endif %}

                    </tbody>
                </table>
            </div>

            <div class="div-btn-publicar">
                <a href="http://localhost/ipial-alda-lara/Inscricoes/EliminarInscricao" class="btn-publicar">Apagar Inscritos</a>
            </div>
        </div>

        <script src="../public/js/index-admin.js"></script>
        <script src="../public/js/habilitar-e-desabilitar-inscricoes.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>