<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../src/public/css/dados-do-inscrito.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Dados do inscrito</title>
</head>
<body>
    <!-- x ---------- Início do cabeçalho ---------- x -->
    <header class="cabecalho">
        <!-- x ---------- Início da seção do logotipo do cabeçalho ---------- x -->
        <section class="section-logo-do-cabecalho">
            <img src="src/public/img/ipial.png" class="logotipo-do-cabecalho" alt="Logotipo" width="50px"><!-- x ------- Logotipo ------- x -->
        </section>
        <!-- x ---------- Fim da seção do logotipo do cabeçalho ---------- x -->
    </header>
    <!-- x ---------- Fim do cabeçalho ---------- x -->

    <!-- x ---------- Início da parte principal ---------- x -->
    <main>
        <!-- x ---------- Início da primeira seção da parte principal ---------- x -->
        <section class="primeira-secao">

            <h2 class="titulo text-center mb-20">Dados do inscrito</h2><!-- x --- Primeiro título da página --- x -->

            <p class="dado-do-inscrito"><b>Nome completo: </b>{{ nome }}</p>
            <p class="dado-do-inscrito"><b>Nome do pai: </b>{{ pai }}</p>
            <p class="dado-do-inscrito"><b>Nome da mãe: </b>{{ mae }}</p>
            <p class="dado-do-inscrito"><b>Data de nascimento: </b>{{ data }}</p>
            <p class="dado-do-inscrito"><b>Sexo: </b>{{ sexo }}</p>
            <p class="dado-do-inscrito"><b>Nº do Bilhete de Identidade: </b>{{ nbi }}</p>
            <p class="dado-do-inscrito"><b>Telefone: </b>{{ telefone }}</p>
            <p class="dado-do-inscrito"><b>Escola de proveniência: </b>{{ escola }}</p>
            <p class="dado-do-inscrito"><b>Turno: </b>{{ turno }}</p>
            <p class="dado-do-inscrito"><b>Turma: </b>{{ turma }}</p>
            <p class="dado-do-inscrito"><b>Número de processo: </b>{{ processo }}</p>
            <p class="dado-do-inscrito"><b>Primeira opção: </b>{{ C1 }}</p>

        </section>
        <!-- x ---------- Fim da primeira seção da parte principal ---------- x -->

        <!-- x ---------- Início da segunda seção da parte principal ---------- x -->
        <section class="segunda-secao">
            <a class="btn-voltar" href="http://localhost/ipial-alda-lara/Inscricoes">Voltar</a><!-- x --- Botão para voltar --- x -->
        </section>
        <!-- x ---------- Fim da segunda seção da parte principal ---------- x -->
    </main>
    <!-- x ---------- Fim da parte principal ---------- x -->
</body>
</html>