<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar informação</title>
    <link rel="stylesheet" href="../public/webfont/fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="stylesheet" href="../public/webfont/fontawesome-free-6.3.0-web/css/fontawesome.min.css">
    <link rel="stylesheet" href="../public/css/publicar-informacao.css">
</head>
<body>
    <main>
        <form action="">
            <div class="div-texto">
                <h3>Edite a informação com atenção, de forma a manter a integridade acarretada pelo instituto</h3>
                <p class="unico-p">Faça as correcções que achar necessárias.</p>
            </div>
            <div class="div-input">
                <input type="text" placeholder="Título da publicação" class="input-info">
            </div>
            <div class="div-textarea">
                <textarea name="" id="" cols="30" rows="10" placeholder="Informação a ser publicada"></textarea>
            </div>
            <div class="div-link-e-botao">
                <a href="noticias-admin.html" class="a-retroceder">Voltar</a>
                <input type="submit" value="Editar">
            </div>
        </form>
    </main>
</body>
</html>