<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="esqueceu-a-senha.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Esqueceu a senha</title>
</head>
<body>
    <!-- x ---------- Início da parte principal ---------- x -->
    <main>
        <!-- x ---------- Início da primeira seção da parte principal ---------- x -->
        <section class="unica-secao">

            <h1 class="titulo-1 text-center mb-20">Esqueceu a sua senha?</h1><!-- x --- Primeiro título da página --- x -->

            <p class="unico-p text-center">Introduza o seu e-mail para receber o código de recuperação de senha.</p>

            <div class="div-input-and-btn">
                <input class="input-email" type="email" placeholder="Introduza o seu email" name="email">
                <button class="btn-enviar-codigo" type="submit">Enviar código</button>
            </div>
        </section>
        <!-- x ---------- Fim da primeira seção da parte principal ---------- x -->
    </main>
    <!-- x ---------- Fim da parte principal ---------- x -->
</body>
</html>