<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home do Administrador</title>
    <link rel="stylesheet" href="../public/webfont/fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="stylesheet" href="../public/webfont/fontawesome-free-6.3.0-web/css/fontawesome.min.css">
    <link rel="stylesheet" href="../public/css/style3.css">
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
        <div class="lateral-menu">
            <ul>
                <li class="list active">
                    <a href="index-admin.html">
                        <span class="icons"><i class="fa-solid fa-gear fa-xl" style="color: #ffffff;"></i></span>
                        <span class="titulo">Administrador</span>
                    </a>
                </li>

                <li class="list">
                    <a href="noticias-admin.html">
                        <span class="icons"><i class="fa-regular fa-bell fa-xl" style="color: #ffffff;"></i></span>
                        <span class="titulo">Notícias</span>
                    </a>
                </li>

                <li class="list">
                    <a href="pauta-admin.html">
                        <span class="icons"><i class="fa-solid fa-upload fa-xl" style="color: #ffffff;"></i></span>
                        <span class="titulo">Pautas</span>
                    </a>
                </li>

                <li class="list">
                    <a href="alunos-admitidos.html">
                        <span class="icons"><i class="fa-solid fa-list fa-xl" style="color: #ffffff;"></i></i></span>
                        <span class="titulo">Inscrição</span>
                    </a>
                </li>

                <li class="list">
                    <a href="http://localhost/ipial-alda-lara/Home">
                        <span class="icons"><i class="fa-solid fa-arrow-right-from-bracket fa-xl" style="color: #ffffff;"></i></span>
                        <span class="titulo">Sair</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- x ---------- Início da Tela de Login ---------- x -->
        <div class="container">
			<span class="form_title">Editar dados</span>
			<form class="form">
				<div class="form_group">
                    <i class="fa-regular fa-user form_icon"></i>
					<input type="email" placeholder="Username" 
                    required 
                    class="form__input" 
                    />
					<span class="form__bar"></span>
				</div>

				<div class="form_group">
                    <i class="fa-solid fa-key form_icon"></i>
					<input
						type="password"
						placeholder="Password atual"
						required
						class="form_input"
					/>
					<span class="form__bar"></span>
				</div>

                <div class="form_group">
                    <i class="fa-solid fa-key form_icon"></i>
					<input
						type="password"
						placeholder="Nova password"
						required
						class="form_input"
					/>
					<span class="form__bar"></span>
				</div>

                <div class="form_group">
                    <i class="fa-solid fa-key form_icon"></i>
					<input
						type="password"
						placeholder="Confirmar password atual"
						required
						class="form_input"
					/>
					<span class="form__bar"></span>
				</div>
				<!--Botão de Entrar como adm-->
				<button type="submit" class="form_button">Atualizar <i class="fa-solid fa-check fa-sm" style="color: #ffffff;"></i></button>
				<p class="form_switch">
					<a href="index-admin.html"><i class="fa-solid fa-arrow-left" style="color: #06338a;"></i> Voltar</a>
				</p>
			</form>
		</div>

       </div>

        <script src="../public/js/index-admin.js">
           
        </script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>