<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website IPIAL</title>
    <link rel="stylesheet" href="src/public/css/main.css">
    <link rel="stylesheet" href="src/public/webfont/fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
</head>
<body>
    <!-- x ---------- Início do cabeçalho ---------- x -->
    <header class="header">
        <!-- x ---------- Ínicio da barra de navegação ---------- x -->
        <nav>
            <a href="http://localhost/ipial-alda-lara/Home"><img src="src/public/img/ipial.png" alt="Logo" class="alter-logo"></a>
            <section class="nav-links" id="nav-links">
                <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="http://localhost/ipial-alda-lara/Home">PÁGINA INICIAL</a></li>
                    <li class="dropdown">
                        <a href="http://localhost/ipial-alda-lara/Sobre/Quem_somos">SOBRE O IPIAL</a>
                        <div class="dropdown-menu">
                            <a href="http://localhost/ipial-alda-lara/Sobre/Quem_somos">Quem somos</a>
                            <a href="http://localhost/ipial-alda-lara/Sobre/Nossos_Quadros">Nossos Quadros</a>
                            <a href="http://localhost/ipial-alda-lara/Sobre/Infraestrutura">Infraestrutura</a>
                        </div>
                    </li>
                    <li><a href="http://localhost/ipial-alda-lara/Aluno">ALUNO</a></li>
                    <li><a href="http://localhost/ipial-alda-lara/Anuncios">ANÚNCIOS</a></li>
                    <li><a href="http://localhost/ipial-alda-lara/Contactos">CONTACTOS</a></li>
                </ul>
            </section>
            <i class="fa-solid fa-bars" onclick="showMenu()"></i>
        </nav>
        <!-- x ---------- Fim da barra de navegação ---------- x -->

        <section class="text-box">
            <h1>Olá, seja bem-vindo</h1>
            <p class="all-p">
                A cada ano letivo que se inicia e acaba, você
                 está mais próximo do sucesso. Aproveite todo 
                 o conhecimento que pode adquirir na escola, pós é aqui onde sentamos para aprender, e depois levantamos para ensinar! 
            </p>
            <p>
                Clique no botão abaixo para tornar-se aluno de um dos melhores institutos de Angola 
            </p>

            <a href="http://localhost/ipial-alda-lara/Inscricao" class="hero-btn">Fazer Inscrição</a>
        </section>
    </header>
    <!-- x ---------- Fim do cabeçalho ---------- x -->
    
    <!-- x ---------- Início do conteúdo principal ---------- x -->
    <main>
        <!-- x ---------- Início da secção Cursos ---------- x -->
        <section class="course">
            <h1 class="h1-index">Cursos que lecionamos</h1>
            <p class="all-p">
                Educar não é repetir palavras, é criar ideias, 
                é encantar.<br>
                "Augusto Cury"
            </p>
            
            <article class="row">
                <div class="course-col">
                    <h5 class="curso">DESENHADOR PROJETISTA</h5>
                    <br/>
                    <p class="alter-p all-p">
                        Desenhador Projetista é um curso que visa orientar
                        o aluno para poder planejanar a execução de obras, 
                        fiscalizar e acompanhar o desenvolvimento de 
                        todas as etapas de uma construção. 
                    </p>
                    <p class="fa-curso"><i class="fa-solid fa-info fa-sm" style="color: #ffffff;"></i> Área: Construção Civil</p>
                    <p class="fa-curso"><i class="fa-solid fa-graduation-cap fa-sm" style="color: #ffffff;"></i>Formação: Média Técnica</p>

                    <p class="fa-curso"><i class="fa-solid fa-hourglass-start fa-sm" style="color: #ffffff;"></i> Duração: 4 anos</p>
                </div>

                <div class="course-col">
                    <h5 class="curso">TÉCNICO DE ENERGIA E INSTALAÇÕES ELECTRICAS</h5>
                    <p class="alter-p all-p">
                       Instalações Electricas é um curso que prepara o aluno a ser 
                       capaz de desenvolver habilidades para instalar 
                       circuitos e equipamentos elétricos em residências 
                       e pequenas edificações.
                    </p>
                    <p class="fa-curso"><i class="fa-solid fa-info fa-sm" style="color: #ffffff;"></i> Área: Eletricidade</p>
                    <p class="fa-curso"><i class="fa-solid fa-graduation-cap fa-sm" style="color: #ffffff;"></i>Formação: Média Técnica</p>
                    <p class="fa-curso"><i class="fa-solid fa-hourglass-start fa-sm" style="color: #ffffff;"></i> Duração: 4 anos</p>
                </div>

                <div class="course-col">
                    <h5 class="curso">ELECTRÓNICA E TELECOMUNICÕES</h5>
                    <br/>
                    <p class="alter-p all-p">
                       Electrónica e Telecomunucações é um curso que estuda 
                       o uso de circuitos formados por componentes elétricos
                       e eletrônicos, e implantar redes de sistema de comunicação.
                    </p>
                    <p class="fa-curso"><i class="fa-solid fa-info fa-sm" style="color: #ffffff;"></i> Área: Eletricidade</p>
                    <p class="fa-curso"><i class="fa-solid fa-graduation-cap fa-sm" style="color: #ffffff;"></i>Formação: Média Técnica</p>
                    <p class="fa-curso"><i class="fa-solid fa-hourglass-start fa-sm" style="color: #ffffff;"></i> Duração: 4 anos</p>
                </div>

                <div class="course-col">
                    <h5 class="curso">TÉCNICO DE INFORMÁTICA</h5>
                    <br/>
                    <p class="alter-p all-p">
                        Informática é um curso que prepara o aluno a desenvolver 
                        sistemas de informática, gerenciamento softwares, a instalação
                        e configuraração em redes de computadores locais.
                    </p>
                    <p class="fa-curso"><i class="fa-solid fa-info fa-sm" style="color: #ffffff;"></i> Área: Informática</p>
                    <p class="fa-curso"><i class="fa-solid fa-graduation-cap fa-sm" style="color: #ffffff;"></i>Formação: Média Técnica</p>
                    <p class="fa-curso"><i class="fa-solid fa-hourglass-start fa-sm" style="color: #ffffff;"></i> Duração: 4 anos</p>
                </div>
            </article>
        </section>
        <!-- x ---------- Fim da secção Cursos ---------- x -->

        <!-- x ---------- Início da secção Campus ---------- x -->
        <section class="campus">
            <h1 class="h1-index">Nosso recinto instituicional</h1>
            <p class="all-p">
                Não há saber mais ou saber menos: há saberes 
                diferentes.<br>
                "Paulo Freire"
            </p>
            
            <article class="row">
                <div class="campus-col">
                    <img src="src/public/img/ipial.jpeg" alt="">
                    <div class="layer">
                        <h3>IPIAL</h3>
                    </div>
                </div>

                <div class="campus-col">
                    <img src="src/public/img/estacionamento.jpeg" alt="">
                    <div class="layer">
                        <h3>Parque de Estacionamento</h3>
                    </div>
                </div>

                <div class="campus-col">
                    <img src="src/public/img/multiusos.jpeg" alt="">
                    <div class="layer">
                        <h3>Campo Multiusos</h3>
                    </div>
                </div>
            </article>
        </section>
        <!-- x ---------- Fim da secção Campus ---------- x -->

        <!-- x ---------- Início da secção Facilities ---------- x -->
        <section class="facilities">
            <h1 class="h1-index">Nossas extensões</h1>
            <p class="all-p">
                Para mim, escola é mais do que um lugar, 
                é a parte de quem sou.</br>
                "Otaniel Fernandes"
            </p>
            
            <article class="row">
                <div class="facilities-col">
                    <img src="src/public/img/sala.jpeg" alt="">
                    <h3 class="h3-extensoes">Melhor lugar para aprender</h3>
                    <p class="all-p">
                        Onde quer que haja homens e mulhres, há sempre o que fazer, há sempre o que ensinar e há sempre o que aprender.<br>
                        "Paulo Freire"
                    </p>
                </div>

                <div class="facilities-col">
                    <img src="src/public/img/laboratorio.jpeg" alt="">
                    <h3 class="h3-extensoes">Laboratórios equipados para aprendizagem</h3>
                    <p class="all-p">
                        Ou aprendemos a utilizar a tecnologia em favor próprio ou seremos atroplelados pelo avanço tecnológico.<br>
                        "Gustavo da Cruz"
                    </p>
                </div>

                <div class="facilities-col">
                    <img src="src/public/img/trofeus.jpeg" alt="">
                    <h3 class="h3-extensoes">Trofeus conquistados por nós</h3>
                    <p class="all-p">
                       A experiência é um trofeu composto por todas as armas que nos feriram.<br>
                        "Marco Aurélio"
                    </p>
                </div>
            </article>
        </section>
        <!-- x ---------- Fim da secção Facilities ---------- x -->

        <!-- x ---------- Início da secção Testimonials ---------- x -->
        <section class="testimonials">
            <h1 class="h1-index">Menssagem do Diretor Geral</h1>
            <h3 class="h3-sms-dg">"Vitorino André Caculo"</h3>

            <article class="row">
                <div class="testimonal-col">
                    <img src="src/public/img/about.jpg" alt="">
                    <div>
                        <p class="all-p" style="text-align: justify;">
                            A missão de um líder democrático consiste em inspirar os seus parceiros, ouvir opniões vantajosas para o crescimento da nossa organização, e contribuir na educação e formação dos alunos, pois educar não é bater, é ensinar, educar não está na base da imposição, mas sim em convencer com argumentos plausíveis, tornando o ensino sistemático, gradativo e constante, algo que realmente interessa e produz resultados, porque quem ensina aprende ao ensinar e quem aprende ensina ao aprender.  
                        </p>
                        <h3>Caroline Berkley</h3>
                        <i class="fa-solid fa-star" style="color:#06338a;"></i>
                        <i class="fa-solid fa-star" style="color:#06338a;"></i>
                        <i class="fa-solid fa-star" style="color:#06338a;"></i>
                        <i class="fa-solid fa-star" style="color:#06338a;"></i>
                        <i class="fa-regular fa-star" style="color:#06338a;"></i>
                    </div>
                </div>
            </article>
        </section>
        <!-- x ---------- Fim da secção Testimonials ---------- x -->

        <!-- x ---------- Início da secção Call To Action ---------- x -->
        <section class="cta">
            <h1 class="h1-index">Inscreva-te já para fazeres parte de um dos melhores<br> Institutos de Angola</h1>
            <a href="http://localhost/ipial-alda-lara/Contactos" class="hero-btn">CONTACTE-NOS</a>
        </section>
        <!-- x ---------- Fim da secção Call To Action ---------- x -->
    </main>
    <!-- x ---------- Fim do conteúdo principal ---------- x -->
    
    <!-- x ---------- Início do Footer ---------- x -->
    <footer>
        <section class="icons">
            <a href="https://www.facebook.com/groups/285320911631577" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/explore/locations/1016981729/alda-lara-impal/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/search/results/all/?keywords=Alda%20Lara&origin=GLOBAL_SEARCH_HEADER&sid=zUa" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="http://localhost/ipial-alda-lara/Autenticacao"><i class="fa-solid fa-arrow-right-to-bracket fa-xl fa-solid-login"></i></a>
        </section>
        <p class="last-p"><i class="fa-sharp fa-regular fa-copyright fa-sm"></i> 2023 IPIAL - Instituto Politécnico Industrial Alda Lara | TODOS OS DIREITOS RESERVADOS</p>
    </footer>
    <!-- x ---------- Fim do Footer ---------- x -->
    
    <script src="src/public/js/app.js"></script>
</body>
</html>