<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações da notícia</title>
    <link rel="stylesheet" href="../../src/public/webfont/fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="stylesheet" href="../../src/public/webfont/fontawesome-free-6.3.0-web/css/fontawesome.min.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../src/public/css/informacoes-da-noticia.css">
</head>
<body>
    <!-- x ---------- Início do cabeçalho ---------- x -->
    <header class="cabecalho">
            <!-- x ---------- Início do logotipo do cabeçalho ---------- x -->
            <img src="../public/img/ipial.png" class="logotipo-do-cabecalho" alt="Logotipo" width="60px"><!-- x ------- Logotipo ------- x -->
            <!-- x ---------- Fim do logotipo do cabeçalho ---------- x -->
    </header>
    <!-- x ---------- Fim do cabeçalho ---------- x -->

    <!-- x ---------- Início da parte principal ---------- x -->
    <main class="principal principal-mt">
        <!-- x ---------- Início da primeira seção da parte principal ---------- x -->
        <section class="primeira-secao">
            <h2 class="titulo-2">Título da publicação: {{ titulo }}</h2><!-- x --- Segundo título da página --- x -->
        
            <p class="texto-publicado">
                {{ conteudo }}
            </p>
        </section>
        <!-- x ---------- Fim da primeira seção da parte principal ---------- x -->

        <!-- x ---------- Início da segunda seção da parte principal ---------- x -->
        <section class="segunda-secao">
            <a href="http://localhost/ipial-alda-lara/noticias">Retroceder</a><!-- x --- Botão para ver retroceder --- x -->
        </section>
        <!-- x ---------- Fim da segunda seção da parte principal ---------- x -->
    </main>
    <!-- x ---------- Fim da parte principal ---------- x -->
</body>
</html>