<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações da notícia</title>
    <link rel="stylesheet" href="../public/webfont/fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="stylesheet" href="../public/webfont/fontawesome-free-6.3.0-web/css/fontawesome.min.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/informacoes-da-noticia.css">
</head>
<body>
    <!-- x ---------- Início do cabeçalho ---------- x -->
    <header class="cabecalho">
            <!-- x ---------- Início do logotipo do cabeçalho ---------- x -->
            <img src="../public/img/ipial.png" class="logotipo-do-cabecalho" alt="Logotipo" width="60px"><!-- x ------- Logotipo ------- x -->
            <!-- x ---------- Fim do logotipo do cabeçalho ---------- x -->
    </header>
    <!-- x ---------- Fim do cabeçalho ---------- x -->

    <!-- x ---------- Início da parte principal ---------- x -->
    <main class="principal principal-mt">
        <!-- x ---------- Início da primeira seção da parte principal ---------- x -->
        <section class="primeira-secao">
            <h2 class="titulo-2">Título da publicação: Mensagem Importante do Diretor Alda Lara - Compromisso com a Excelência Académica e Conduta Responsável.</h2><!-- x --- Segundo título da página --- x -->
        
            <p class="texto-publicado">
                Caros estudantes,<br><br>

                Espero que esta mensagem encontre todos vocês bem e empenhados nos vossos estudos no Instituto Politécnico Industrial Alda Lara. Como diretor desta instituição, gostaria de abordar um assunto importante que exige a vossa atenção.<br><br>

                Nosso instituto é conhecido por seu compromisso com a excelência académica e o desenvolvimento profissional dos nossos alunos. No entanto, recentemente, temos observado alguns comportamentos inadequados e preocupantes que não estão alinhados com os valores e padrões que defendemos.<br><br>

                É fundamental lembrar que estamos aqui para promover um ambiente de aprendizagem saudável e seguro para todos. Comportamentos como desrespeito aos colegas, falta de ética académica, negligência nos estudos e uso inadequado das instalações têm sido observados. Essas atitudes não apenas prejudicam a reputação do instituto, mas também afetam negativamente o progresso e o sucesso individual de cada um de vocês.<br><br>

                Ressalto a importância de agir com responsabilidade e respeito mútuo em todos os momentos. Valorizamos a diversidade e a inclusão, e é fundamental que todos os estudantes sejam tratados com igualdade, independentemente da origem étnica, género, religião ou orientação sexual. Discriminação ou qualquer forma de assédio não serão tolerados em nosso instituto.<br><br>

                Além disso, quero enfatizar a importância de dedicar-se aos vossos estudos. A educação é uma oportunidade valiosa para o vosso crescimento pessoal e profissional, e cada minuto gasto aqui deve ser aproveitado ao máximo. Sejam assíduos nas aulas, participem ativamente das atividades propostas e procurem tirar o máximo proveito dos recursos disponíveis.<br><br>

                Como estudantes, vocês são os principais responsáveis por construir uma comunidade académica vibrante e bem-sucedida. Lembrem-se de que o sucesso coletivo depende do esforço individual de cada um. Estejam dispostos a colaborar uns com os outros, compartilhar conhecimentos e apoiar-se mutuamente na jornada educacional.<br><br>

                Por fim, encorajo-vos a aproveitar todas as oportunidades de crescimento e desenvolvimento que o Instituto Politécnico Industrial Alda Lara oferece. Participem de projetos de pesquisa, estágios e outras atividades extracurriculares que possam enriquecer a vossa formação e preparar-vos para os desafios futuros.<br><br>

                Conto com cada um de vocês para manter os valores e padrões elevados que caracterizam o nosso instituto. Juntos, podemos alcançar grandes conquistas e tornar-nos profissionais competentes e bem-sucedidos.<br><br>

                Agradeço a vossa atenção e compromisso contínuo com a excelência académica.<br><br>

                Atenciosamente,<br><br>

                Dr. Vitorino<br><br>
                Diretor do Instituto Politécnico Industrial Alda Lara.<br>
            </p>
        </section>
        <!-- x ---------- Fim da primeira seção da parte principal ---------- x -->

        <!-- x ---------- Início da segunda seção da parte principal ---------- x -->
        <section class="segunda-secao">
            <a href="noticias-admin.html">Retroceder</a><!-- x --- Botão para ver retroceder --- x -->
        </section>
        <!-- x ---------- Fim da segunda seção da parte principal ---------- x -->
    </main>
    <!-- x ---------- Fim da parte principal ---------- x -->
</body>
</html>