<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website IPIAL</title>
    <link rel="stylesheet" href="/src/public/css/main.css">
    <link rel="stylesheet" href="/src/public/webfont/fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link rel="stylesheet" href="src/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <!-- x ---------- Início do cabeçalho ---------- x -->
    <section class="sub-header">
        <!-- x ---------- Ínicio da barra de navegação ---------- x -->
        <nav>
            <a href="http://localhost/ipial-alda-lara/Home"><img src="src/public/img/ipial.png" alt="Logo"></a>
            <section class="nav-links" id="nav-links">
                <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="http://localhost/ipial-alda-lara/Home">PÁGINA INICIAL</a></li>
                    <li class="dropdown">
                        <a href="http://localhost/ipial-alda-lara/Sobre/Quem_somos">SOBRE O IPIAL</a>
                        <div class="dropdown-menu">
                            <a href="http://localhost/ipial-alda-lara/Sobre/Quem_somos">Quem nós somos</a>
                            <a href="http://localhost/ipial-alda-lara/Sobre/Nossos_Quadros">Nossos Quadros</a>
                            <a href="http://localhost/ipial-alda-lara/Sobre/Infraestrutura">Infraestrutura</a>
                        </div>
                    </li>
                    <li><a href="http://localhost/ipial-alda-lara/Aluno">ALUNO</a></li>
                    <li><a href="http://localhost/ipial-alda-lara/Anuncios">ANÚNCIOS</a></li>
                    <li><a href="http://localhost/ipial-alda-lara/Contactos">CONTACTOS</a></li>
                </ul>
            </section>
            <i class="fa-solid fa-bars" onclick="showMenu()"></i>
        </nav>
        <!-- x ---------- Fim da barra de navegação ---------- x -->
        <h1>Infraestrutura Instituicional</h1>
    </section>
    <!-- x ---------- Fim do cabeçalho ---------- x -->
    
    <!-- x ---------- Início do conteúdo principal ---------- x -->
    <main>
        <!-- x ---------- Início da secção do Blog ---------- x -->
        <section class="blog-content">
            <article class="row">
                <aside class="blog-left">
                    <h1 style="text-align:center;">O IPIAL localiza-se em Angola-Luanda, Mun. Ingombotas, Avenida Lencast</h1>
                    <img src="src/public/img/ipial.jpeg" style="height: 350px;">
                        
                </aside>

                <!------Infraestrutura do IPIAL-------->
                <article class="blog-right">
                    <h3>O IPIAL é composto por</h3>
                    <section  class="section-infra-ipial">
                        <h4>Salas normais de aulas</h4>
                        <span>22</span>
                    </section>
                    <section class="section-infra-ipial">
                        <h4>Laboratórios</h4>
                        <span>11</span>
                    </section>
                    <section class="section-infra-ipial">
                        <h4>Ginásios com balneários</h4>
                        <span>2</span>
                    </section>
                    <section class="section-infra-ipial">
                        <h4>Biblioteca</h4>
                        <span>1</span>
                    </section class="section-infra-ipial">
                    <section class="section-infra-ipial">
                        <h4>Refeitório</h4>
                        <span>1</span>
                    </section>
                    <section class="section-infra-ipial">
                        <h4>Parque de estacionamento</h4>
                        <span>1</span>
                    </section>
                    <section class="section-infra-ipial">
                        <h4>Campo multiusos</h4>
                        <span>1</span>
                    </section>
                </article>
            </article>
        </section>
        <!-- x ---------- Fim da secção do Blog ---------- x -->
    </main>
    <!-- x ---------- Fim do conteúdo principal ---------- x -->
    
    <!-- x ---------- Início do Footer ---------- x -->
    <footer>
        <section class="icons">
            <a href="https://www.facebook.com/groups/285320911631577"target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/explore/locations/1016981729/alda-lara-impal/"target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/search/results/all/?keywords=Alda%20Lara&origin=GLOBAL_SEARCH_HEADER&sid=zUa" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="http://localhost/ipial-alda-lara/Autenticacao"><i class="fa-solid fa-arrow-right-to-bracket fa-xl fa-solid-login"></i></a> 
        </section>
        <p class="last-p"><i class="fa-sharp fa-regular fa-copyright fa-sm"></i> 2023 IPIAL - Instituto Politécnico Industrial Alda Lara | TODOS OS DIREITOS RESERVADOS</p>
    </footer>
    <!-- x ---------- Fim do Footer ---------- x -->
    <script src="src/public/js/app.js"></script>
</body>
</html>