<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inscrição</title>
    <link rel="stylesheet" href="src/public/css/style_inscricao.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="src/public/webfont/fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    
</head>
<body>
    <form method="post" action="http://localhost/ipial-alda-lara/Inscricao" class="form" id="form_inscricao">
        <h2 class="text-center">Formulário do Inscrição</h2>

        <!--*********************Progressbar*****************-->
        <div class="progressbar">
            <div class="progress" id="progress">

            </div>
            <div class="progress-step active" data-title="Dados"></div>
            <div class="progress-step" data-title="Contato"></div>
            <div class="progress-step" data-title="Escola"></div>
            <div class="progress-step" data-title="Opcao"></div>
            <div class="progress-step" data-title="Docs."></div>
        </div>
       <!--**********************Steps***********************-->
        <div class="form-step active">
            <div class="input-group">
                <label for="nome">Seu nome</label>
                <input type="text" id="nome" name="nome" placeholder="Seu nome completo" class="place-center required-inscricao" required oninput="nome_candidatoValidate()">
                <span class="span-required-inscricao">Digite corretamente o seu nome completo</span>
            </div>
    
            <div class="input-group">
                <label for="pai">Nome do pai</label>
                <input type="text" id="pai" name="pai" placeholder="Nome do seu pai" class="place-center required-inscricao" required oninput="nome_paiValidate()">
                <span class="span-required-inscricao">Digite corretamente o nome do seu encarregado</span>
            </div>
    
            <div class="input-group">
                <label for="mae">Nome da mãe</label>
                <input type="text" id="mae" name="mae" placeholder="Nome do sua mae" class="place-center required-inscricao" required oninput="nome_maeValidate()">
                <span class="span-required-inscricao">Digite o nome da sua encarregada</span>
            </div>
            
            <div class="input-group">
                <label for="data">Data de nascimento</label>
                <input type="date" id="data" name="data" placeholder="dia/mês/ano" class="place-center required-inscricao" required oninput="data_nascimentoValidate()">
                <span class="span-required-inscricao">Digite corretamente a sua data de nascimento</span>
            </div>

            <div class="btns-group">
                <a href="http://localhost/ipial-alda-lara/Inscricao" class="btn btn-back btn-v-home">Voltar</a>
                <input type="submit" value="Avançar" class="btn btn-next wth-100 ml-auto" id="btnNext1">
            </div>
        </div>

            <div class="form-step">
                <div class="input-group">
                    <label for="sexo">Sexo</label>
                    <select class="select-group" name="sexo" id="sexo">
                        <optgroup label="Sexo">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </optgroup>
                    </select>
                </div>
                <div class="input-group">
                    <label for="bi">Nº do BI</label>
                    <input type="text" id="bi" name="bi" placeholder="0040877823LA145" class="place-center required-inscricao" required oninput="biValidate()">
                    <span class="span-required-inscricao">Nº de BI inválido, digite corretamente</span>
                </div>
                <div class="input-group">
                    <label for="tel">Telefone</label>
                    <input type="tel" id="tel" name="tel" placeholder="+244" class="place-center required-inscricao" required oninput="telValidate()">
                    <span class="span-required-inscricao">Números de tefone e começam com 9 possuem 9 digitos</span>
                </div>
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="otanielfernandes@gmail.com" class="place-center required-inscricao" required oninput="emailValidate()">
                    <span class="span-required-inscricao">Digite um email válido</span>
                </div>
                <div class="btns-group">
                    <a href="#" class="btn btn-back">Retroceder</a>
                    <a href="#" class="btn btn-next">Avançar</a>
                </div>
            </div>

            <div class="form-step">

                <div class="input-group">
                    <label for="escola">Nome da Escola de proveniência</label>
                    <input type="text" id="escola" name="escola" placeholder="Insira o nome da tua ex escola" class="place-center required-inscricao" required oninput="escola_antigaValidate()">
                    <span class="span-required-inscricao">Digite corretamente o nome da sua antiga escola</span>
                </div>
                <div class="input-group">
                    <label for="turno">Turno</label>
                    <select class="select-group " name="turno" id="turno">
                        <optgroup label="Turno">
                            <option value="Manha">Manhã</option>
                            <option value="Noite">Noite</option>
                            <option value="Tarde">Tarde</option>
                        </optgroup>
                    </select>
                </div>
                <div class="input-group">
                    <label for="escola">Nome da turma de proveniência</label>
                    <input type="text" id="escola" name="escola" placeholder="Insira o nome da tua ex escola" class="place-center required-inscricao" required oninput="escola_antigaValidate()">
                    <span class="span-required-inscricao">Digite corretamente o nome da sua antiga turma</span>
                </div>
                <div class="input-group">
                    <label for="processo">Processo Nº</label>
                    <input type="number" id="processo" name="processo" placeholder="Número de processo" class="place-center required-inscricao" required oninput="nprocessoValiate()">
                    <span class="span-required-inscricao">Um nº de processo deve ter entre 2-6 números</span>
                </div>
                <div class="btns-group">
                    <a href="#" class="btn btn-back">Retroceder</a>
                    <a href="#" class="btn btn-next">Avançar</a>
                </div>
            </div>

            <div class="form-step">
                <div class="input-group">
                    <label for="opcao1">Opção 1</label>
                    <select class="select-group" name="opcao1" id="opcao1" required>
                        <optgroup label="Opcao1">
                            <option value="Desenahdor">Desenhador Projetista (DP)</option>
                            <option value="Electronica">Electrónica e Telecomunicações</option>
                            <option value="Electricidade">Técnico de Energias e Instalações Eléctricas (TEIE)</option>
                            <option value="Informatica">Técnico de Informática (TI)</option>
                        </optgroup>
                    </select>
                </div>
                <div class="input-group">
                    <label for="opcao1">Opção 2</label>
                    <select class="select-group" name="opcao2" id="opcao2">
                        <optgroup label="Opcao2">
                            <option value="Desenahdor">Desenhador Projetista (DP)</option>
                            <option value="Electronica">Electrónica e Telecomunicações</option>
                            <option value="Electricidade">Técnico de Energias e Instalações Eléctricas (TEIE)</option>
                            <option value="Informatica">Técnico de Informática (TI)</option>
                        </optgroup>
                    </select>
                </div>
                <div class="input-group">
                    <label for="opcao3">Opção 3</label>
                    <select class="select-group" name="opcao3" id="opcao3" required>
                        <optgroup label="Opcao3">
                            <option value="Desenahdor">Desenhador Projetista (DP)</option>
                            <option value="Electronica">Electrónica e Telecomunicações</option>
                            <option value="Electricidade">Técnico de Energias e Instalações Eléctricas (TEIE)</option>
                            <option value="Informatica">Técnico de Informática (TI)</option>
                        </optgroup>
                    </select>
                </div>
                <div class="input-group">
                    <label for="opcao4">Opção 4</label>
                    <select class="select-group" name="opcao4" id="opcao4" required>
                        <optgroup label="Opcao4">
                            <option value="Desenahdor">Desenhador Projetista (DP)</option>
                            <option value="Electronica">Electrónica e Telecomunicações</option>
                            <option value="Electricidade">Técnico de Energias e Instalações Eléctricas (TEIE)</option>
                            <option value="Informatica">Técnico de Informática (TI)</option>
                        </optgroup>
                    </select>
                </div>
                <div class="btns-group">
                    <a href="#" class="btn btn-back">Retroceder</a>
                    <a href="#" class="btn btn-next">Avançar</a>
                </div>
            </div>


            <div class="form-step">

                <div class="input-group">
                    <label for="foto1">Fotagrafia do BI</label>
                    <input type="file" id="foto1" name="foto1" placeholder="Adicione a fotografia" class="place-center required-inscricao" required>
                </div>

                <div class="input-group">
                    <label for="foto2">Certificado da 9ª Classe</label>
                    <input type="file" id="foto2" name="foto2" placeholder="Adicione a fotografia" class="place-center" required>
                </div>

                <div class="btns-group">
                    <a href="#" class="btn btn-back">Retroceder</a>
                    <button type="submit" name="btnSubmeter" class="btn">Submeter</button> 
                </div>
            </div>
        </div>
    </form>
    
    <dialog>
        <h2 class="conteudo-modal">Inscrição Concluída</h2>
        <hr>
        <p class="conteudo-modal">Os meus parábens, você acabou de concluir a sua inscrição, seja bem-vindo ao IPIAL. Verifque seu email, pois enviamos-lhe o seu código de inscrição</p>

        <div>
            <a href="http://localhost/ipial-alda-lara/Home" class="btn btn-modal">OK</a>
        </div>
    </dialog>
    
    <!-- <script src="../src/public/js/app2.js"></script> -->
    <!--Script do Modal-->
    <!-- <script src="../src/public/js/app3.js"></script> -->
    <!--Script do formulário de inscrição-->
    <!-- <script src="../src/public/js/form-inscricao.js"></script> -->
</body>
</html>