<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website IPIAL</title>
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/webfont/fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
</head>
<body>
    <!-- x ---------- Início do cabeçalho ---------- x -->
    <header class="header alter-header">
        <!-- x ---------- Ínicio da barra de navegação ---------- x -->
        <nav>
            <a href="index.html"><img src="../public/img/ipial.png" alt="Logo"></a>
            <section class="nav-links" id="nav-links">
                <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>
                <ul class="alter-link">
                    <li><a href="index.html">PÁGINA INICIAL</a></li>
                    <li class="dropdown">
                        <a href="sobre-o-ipial.html">SOBRE O IPIAL</a>
                        <div class="dropdown-menu">
                            <a href="sobre-o-ipial.html">Quem nós somos</a>
                            <a href="quadros.html">Nossos Quadros</a>
                            <a href="infraestrutura.html">Infraestrutura</a>
                        </div>
                    </li>
                    <li><a href="aluno.html">ALUNO</a></li>
                    <li><a href="anuncios.html">ANÚNCIOS</a></li>
                    <li><a href="contactos.html">CONTACTOS</a></li>
                </ul>
            </section>
            <i class="fa-solid fa-bars" onclick="showMenu()"></i>
        </nav>
        <!-- x ---------- Fim da barra de navegação ---------- x -->
    </header>
    <!-- x ---------- Fim do cabeçalho ---------- x -->
    
    <!-- x ---------- Início do conteúdo principal ---------- x -->

    <div class="title-inscricao">
        <h2 style="margin:auto; border-bottom: 2px solid  #f34d00;">INSTRUÇÕES</h2>
        <p>1. Preencha cuidadosamente o formulário de inscrição.</p>
        <p>2. Precisas ter terminado o ensino secundário com uma média igual ou superior a 14 valores.</p>
        <p>3. Adicionar seus documentos em formato pdf (Bilhete de Identidade e Certifiacdo de habiltações literárias).</p>
        <p>4. Maiores de 18 anos de idade correm o risco de não serem selecionados para o acto de matricula, isso devido a iadade.</p>
        <p>5. Se o nome de um dos conjugues não constar, pode deixar o campo de preenchimento vázio.</p>
        <p>6. Caso tenha escrito mal uma informação e já tivera enviado o formulário, por favor, envia uma mensagem para o <a href="contactos.html">nosso email</a>, especificando o assunto em causa.</p>
        <p>7. Usarás seu email, para verificar seu id de inscrição, caso seja aceite, e aguardar a lista que será lançada com o nome e id dos inscritos admitidos.</p>
        <p>8. Frisar que a inscrição é diferente da matricula, após seu nome constar na lista dos inscritos admitidos, deverá dirigir-se ao IPIAL, fazer o pagamento do RUPE e após ser entregue o comprovativo, somente será matriculado</p>
    </div>
    <main>
        <!-- x ---------- Início da secção Cursos ---------- x -->
        <section class="pauta-section"> 
            <article class="row-center">
                <form action="" class="form-search-for-school-grades">
                    <section class="form-section-one-aluno">
                        <hr class="orange-bar">
                        <h2 class="ipial">Dados Pessoais</h2>
                    </section>

                    <section>

                        <div class="alter-input">
                            <label for="nome">Nome</label></br>
                            <input type="name" id="nome" placeholder="Seu nome completo" required>
                        </div>

                        <div class="alter-input">
                            <label for="nome_mae">Filho de e de</label></br>
                            <input type="name" id="nome_mae" placeholder="Nome de sua mãe" required> <input type="name" placeholder="Nome de seu pai" required>
                        </div>

                        <div class="alter-input">
                        <label for="nascimento">Data de nascimento</label></br>
                        <input type="date" id="nascimento" required>
                        </div>

                        <div>
                            <label for="sexo">Sexo</label>
                            <select name="sexo" id="sexo">
                                <optgroup label="Sexo">
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                </optgroup>
                            </select>
                        </div>

                        <div>
                            <label for="sexo">Naturalidade</label>
                            <select name="natural" id="natural">
                                <optgroup label="Naturalidade">
                                    <option value="Beno">Bengo</option>
                                    <option value="Benguela">Benguela</option>
                                    <option value="Bié">Bié</option>
                                    <option value="Cabinda">Cabinda</option>
                                    <option value="Cuando Cubango">Cuando Cubango</option>
                                    <option value="Cuanza Norte">Cuanza Norte</option>
                                    <option value="Cuanza Sul">Cuanza Sul</option>
                                    <option value="Cunene">Cunene</option>
                                    <option value="Huambo">Huambo</option>
                                    <option value="Huíla">Huíla</option>
                                    <option value="Luanda">Luanda</option>
                                    <option value="Lunda Norte">Lunda Norte</option>
                                    <option value="Lunda Sul">Lunda Sul</option>
                                    <option value="Malanje">Malanje</option>
                                    <option value="Moxico">Moxico</option>
                                    <option value="Namibe">Namibe</option>
                                    <option value="Uíge">Uíge</option>
                                    <option value="Zaire">Zaire</option>
                                </optgroup>
                            </select>
                        </div>

                        <div>
                            <label for="bi">BI</label></br>
                            <input type="text" id="bi" placeholder="0042662LA4592GF" required>
                        </div>

                        <div>
                            <label for="tel">Telefone</label></br>
                            <input type="text" id="tel" placeholder="+244 912345678" required>
                        </div>
                       
                        <h2>DADOS ACADÉMICOS DA ESCOLA DE PROVENIÊNCIA</h2>
                        <hr>

                        <div>
                            <label for="escola">Escola de proveniência</label></br>
                            <input type="text" id="escola" placeholder="Nome da escola de providência" required >
                        </div>

                        <div>
                            <label for="sexo">Turno</label>
                            <select name="turno" id="turno">
                                <optgroup label="Selecione o turno">
                                    <option value="manha">Manhã</option>
                                    <option value="tarde">Tarde</option>
                                    <option value="noite">Noite</option>
                                </optgroup>
                            </select>
                        </div>

                        <div>   
                            <label for="turma">Turma</label></br>
                            <input type="text" id="turma" minlength="1" maxlength="5" placeholder="A" required>
                        </div>

                        <div>   
                            <label for="numero">Número</label></br>
                            <input type="number" id="numero" min="1" max="80" placeholder="0" required>
                        </div>

                        <div>   
                            <label for="processo">Processo nº</label></br>
                            <input type="number" id="processo" placeholder="0" required>
                        </div>

                        <h2>Selecione uma das opções</h2>
                        <div>
                            <label for="opcao1">Opção 1</label></br>
                            <select name="opcao1" id="opcao1">
                                <optgroup label="Cursos Disponíveis">
                                    <option value="desenhador">Desenhador Projetista</option>
                                    <option value="eletronica">Electrónica e Telecomunicações</option>
                                    <option value="electricidade">Técnico de Energia e Instalações Eléctricas</option>
                                    <option value="informatica">Técnico de Informática</option>
                                </optgroup>
                            </select>
                        </div>

                        <div>
                            <label for="opcao2">Opção 2</label></br>
                            <select name="opcao2" id="opcao2">
                                <optgroup label="Cursos Disponíveis">
                                    <option value="desenhador">Desenhador Projetista</option>
                                    <option value="eletronica">Electrónica e Telecomunicações</option>
                                    <option value="electricidade">Técnico de Energia e Instalações Eléctricas</option>
                                    <option value="informatica">Técnico de Informática</option>
                                </optgroup>
                            </select>
                        </div>

                        <div>
                            <label for="opcao3">Opção 3</label></br>
                            <select name="opcao3" id="opcao3">
                                <optgroup label="Cursos Disponíveis">
                                    <option value="desenhador">Desenhador Projetista</option>
                                    <option value="eletronica">Electrónica e Telecomunicações</option>
                                    <option value="electricidade">Técnico de Energia e Instalações Eléctricas</option>
                                    <option value="informatica">Técnico de Informática</option>
                                </optgroup>
                            </select>
                        </div>

                        <div>
                            <label for="opcao4">Opção 4</label></br>
                            <select name="opcao4" id="opcao4">
                                <optgroup label="Cursos Disponíveis">
                                    <option value="desenhador">Desenhador Projetista</option>
                                    <option value="eletronica">Electrónica e Telecomunicações</option>
                                    <option value="electricidade">Técnico de Energia e Instalações Eléctricas</option>
                                    <option value="informatica">Técnico de Informática</option>
                                </optgroup>
                            </select>
                        </div>

                        <div class="col-btn">
                            <button type="submit">Submeter</button>
                        </div>

                    </section>
                </form>
            </article>
            <h2>Nota Informativa</h2>
            <p>O aluno poderá candidatar-se aos cursos abaixo indicados com as seguintes condições de admissibilidade:</p>
            
            <table>
                <tr>
                    <th>Área de Formação</th>
                    <th>Curso</th>
                    <th>condições para admissão</th>
                </tr>

                <tr>
                    <td>Construção Civil</td>
                    <td>Desenahdor Projetista (DP)</td>
                    <td>Nota igual ou superior à 14 valores</td>
                </tr>

                
                <tr>
                    <td>Electricidade</td>
                    <td>Técnico de Energias e Instalações Eléctricas (TEIE)</td>
                    <td>Electronica e Telecomunicações (ET)</td>
                    <td>Nota igual ou superior à 14 valores</td>
                </tr>

                <tr>
                    <td>Informática</td>
                    <td>Técnico de Informática (TI)</td>
                    <td>Nota igual ou superior à 14 valores</td>
                </tr>
            </table>
        </section>
    
    </main>
    <!-- x ---------- Fim do conteúdo principal ---------- x -->
    
    <!-- x ---------- Início do Footer ---------- x -->
    <footer>
        <section class="icons">
            <a href="https://www.facebook.com/groups/285320911631577" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/explore/locations/1016981729/alda-lara-impal/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/search/results/all/?keywords=Alda%20Lara&origin=GLOBAL_SEARCH_HEADER&sid=zUa" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="login.html"><i class="fa-solid fa-arrow-right-to-bracket fa-xl"></i></a>
        </section>
        <p><i class="fa-sharp fa-regular fa-copyright fa-sm"></i> 2023 IPIAL - Instituto Politécnico Industrial Alda Lara | TODOS OS DIREITOS RESERVADOS</p>
    </footer>
    <!-- x ---------- Fim do Footer ---------- x -->
    <script src="../public/js/app.js"></script>
</body>
</html>