<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website IPIAL</title>
    <link rel="stylesheet" href="src/public/css/main.css">
    <link rel="stylesheet" href="src/public/webfont/fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
</head>
<body>
    {% if resultado %}
                    <h1>{{ resultado }}</h1>
                    {% endif %}
    <!-- x ---------- Início do cabeçalho ---------- x -->
    <header class="header alter-header">
        <!-- x ---------- Ínicio da barra de navegação ---------- x -->
        <nav>
            <a href="http://localhost/ipial-alda-lara/Home"><img src="src/public/img/ipial.png" alt="Logo"></a>
            <section class="nav-links" id="nav-links">
                <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="http://localhost/ipial-alda-lara/Home">PÁGINA INICIAL</a></li>
                    <li class="dropdown">
                        <a href="http://localhost/ipial-alda-lara/Home">SOBRE O IPIAL</a>
                        <div class="dropdown-menu">
                            <a href="http://localhost/ipial-alda-lara/Home">Quem somos</a>
                            <a href="http://localhost/ipial-alda-lara/Sobre/Quem_somos">Nossos Quadros</a>
                            <a href="http://localhost/ipial-alda-lara/Sobre/Infraestrutura">Infraestrutura</a>
                        </div>
                    </li>
                    <li><a href="http://localhost/ipial-alda-lara/Aluno">ALUNO</a></li>
                    <li><a href="http://localhost/ipial-alda-lara/Anuncios">ANÚNCIOS</a></li>
                    <li><a href="http://localhost/ipial-alda-lara/Contactos">CONTACTOS</a></li>
                </ul>
            </section>
            <i class="fa-solid fa-bars" onclick="showMenu()"></i>
        </nav>
        <!-- x ---------- Fim da barra de navegação ---------- x -->

        <section class="text-box">
            <h1 class="header-inscricao type-animation2">Olá, seja bem-vindo a página de inscrição do IPIAL</h1>
        </section>
    </header>
    <!-- x ---------- Fim do cabeçalho ---------- x -->
    
    <!-- x ---------- Início do conteúdo principal ---------- x -->

    <div class="title-inscricao">
        <h2 style="margin:25px auto; border-bottom: 2px solid  #f34d00;">INSTRUÇÕES</h2>
    </div> 

    <div class="div-instrucoes">
        <p>1. Preencha cuidadosamente o formulário de inscrição.</p>
        <p>2. Precisas ter terminado o ensino secundário com uma média igual ou superior a 14 valores.</p>
        <p>3. Adicionar seus documentos em formato pdf (Bilhete de Identidade e Certificado de habiltações literárias).</p>
        <p>4. O acto de seleção dos inscritos admitidos é feito priorizando candidatos com a idade correspondida entre a faixa dos 15-16 anos de idade, com uma média igual ou superior a 14 anos de idade.</p>
        <p>5. Se o nome de um dos progenitores não constar, pode deixar o campo de preenchimento vazio.<p>
        <p>6. Caso tenha escrito mal uma informação e já tiver enviado o formulário, por favor,envia uma mensagem para o <a href="contactos.html">nosso email</a>, especificando o assunto em causa.</p>
        <p>7. Usarás seu email, para verificar seu id de inscrição, caso seja aceite, e aguardar a lista que será lançada com o nome e id dos inscritos admitidos.</p>
        <p>8. Frisar que a inscrição é diferente da matrícula, após seu nome constar na lista dos inscritos admitidos, deverá dirigir-se ao IPIAL, fazer o pagamento do RUPE e após ser entregue o comprovativo, somente será matriculado.</p>
    </div>
    <main>
        <!-- x ---------- Início da secção Cursos ---------- x -->
          
            <div class="nota-info">
                <h2>Nota Informativa</h2>
                <p>O aluno poderá candidatar-se aos cursos abaixo indicados com as seguintes condições:</p>
            </div>
            
            <table class="alter-table table-bordered">
                <tr>
                    <th class="alter-th">Área de Formação</th>
                    <th class="alter-th">Curso</th>
                    <th class="alter-th">Condições para admissão</th>
                </tr>

                <tr>
                    <th>Construção Civil</th>
                    <td>Desenhador Projetista (DP)</td>
                    <td>Nota igual ou superior à 14 valores</td>
                </tr>

                
                <tr>
                    <th rowspan="2" scope="rowgroup">Electricidade</th>
                    <td>Técnico de Energias e Instalações Eléctricas (TEIE)</td>
                    <td rowspan="2" scope="rowgroup">Nota igual ou superior à 14 valores</td>
                </tr>
                <tr>
                    <td>Electronica e Telecomunicações (ET)</td>
                </tr>

                <tr>
                    <th>Informática</th>
                    <td>Técnico de Informática (TI)</td>
                    <td>Nota igual ou superior à 14 valores</td>
                </tr>
            </table>
        </section>

        <div>
            <a class="btn-inscricao" href="http://localhost/ipial-alda-lara/Inscricao/Inscrever">Iniciar Inscrição</a>
        </div>
    </main>

   
    <!-- x ---------- Fim do conteúdo principal ---------- x -->
    
    <!-- x ---------- Início do Footer ---------- x -->
    <footer>
        <section class="icons">
            <a href="https://www.facebook.com/groups/285320911631577" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/explore/locations/1016981729/alda-lara-impal/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/search/results/all/?keywords=Alda%20Lara&origin=GLOBAL_SEARCH_HEADER&sid=zUa" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="http://localhost/ipial-alda-lara/Autenticacao"><i class="fa-solid fa-arrow-right-to-bracket fa-xl fa-solid-login"></i></a>
        </section>
        <p class="last-p"><i class="fa-sharp fa-regular fa-copyright fa-sm"></i> 2023 IPIAL - Instituto Politécnico Industrial Alda Lara | TODOS OS DIREITOS RESERVADOS</p>
    </footer>
    <!-- x ---------- Fim do Footer ---------- x -->
    <script src="src/public/js/app.js"></script>
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>