<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website IPIAL</title>
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/webfont/fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
</head>
<body class="alter-login">
    
    <main>
        <!-- x ---------- Início da Tela de Login ---------- x -->
        <div class="container">
			<span class="form_title">Login</span>
			<form class="form">
				<div class="form_group">
					<i class="fa-regular fa-user form_icon"></i>
					<input type="email" placeholder="Username" 
                    required 
                    class="form__input" 
                    />
					<span class="form__bar"></span>
				</div>

				<div class="form_group">
					<i class="fa-solid fa-key form_icon"></i>
					<input
						type="password"
						placeholder="Password"
						required
						class="form_input"
					/>
					<span class="form__bar"></span>
				</div>
				<!--Botão de Entrar como adm-->
				<button type="submit" class="form_button">Entrar</button>
				<p class="form_switch">
					<a href="index.html"><i class="fa-solid fa-arrow-left" style="color: #06338a;"></i> Voltar</a>
				</p>
			</form>
		</div>

       
        
    </main>
    
    <script src="../public/js/app.js"></script>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
</body>
</html>