<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícias Admin</title>
    <link rel="stylesheet" href="../public/webfont/fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="stylesheet" href="../public/webfont/fontawesome-free-6.3.0-web/css/fontawesome.min.css">
    <link rel="stylesheet" href="../public/css/style3.css">
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
    <div class="lateral-menu">
        <ul>
            <li class="list active">
                <a href="index-admin.html">
                    <span class="icons"><i class="fa-solid fa-gear fa-xl" style="color: #ffffff;"></i></span>
                    <span class="titulo">Administrador</span>
                </a>
            </li>

            <li class="list">
                <a href="#">
                    <span class="icons"><i class="fa-solid fa-user-tie fa-xl" style="color: #ffffff;"></i></span>
                    <span class="titulo">Perfis</span>
                </a>
            </li>

            <li class="list">
                <a href="noticias-admin.html">
                    <span class="icons"><i class="fa-regular fa-bell fa-xl" style="color: #ffffff;"></i></span>
                    <span class="titulo">Notícias</span>
                </a>
            </li>

            <li class="list">
                <a href="#">
                    <span class="icons"><i class="fa-solid fa-upload fa-xl" style="color: #ffffff;"></i></span>
                    <span class="titulo">Pautas</span>
                </a>
            </li>

            <li class="list">
                <a href="#">
                    <span class="icons"><i class="fa-solid fa-list fa-xl" style="color: #ffffff;"></i></i></span>
                    <span class="titulo">Inscrição</span>
                </a>
            </li>

            <li class="list">
                <a href="index.html">
                    <span class="icons"><i class="fa-solid fa-arrow-right-from-bracket fa-xl" style="color: #ffffff;"></i></span>
                    <span class="titulo">Sair</span>
                </a>
            </li>
        </ul>
    </div>


    <div class="area-publicacao">
        <span><input type="search" name="" id="" placeholder="Digite o título da publicação"></span>
        <span><i class="fa-solid fa-magnifying-glass"></i></span>
    </div>
</body>
</html>