<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícias Admin</title>
    <link rel="stylesheet" href="../public/webfont/fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="stylesheet" href="../public/webfont/fontawesome-free-6.3.0-web/css/fontawesome.min.css">
    <link rel="stylesheet" href="../public/css/style3.css">
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body style="height:initial;">
    <div class="lateral-menu">
        <ul>
            <li class="list active">
                <a href="index-admin.html">
                    <span class="icons"><i class="fa-solid fa-gear fa-xl" style="color: #ffffff;"></i></span>
                    <span class="titulo">Administrador</span>
                </a>
            </li>

            <li class="list">
                <a href="noticias-admin.html">
                    <span class="icons"><i class="fa-regular fa-bell fa-xl" style="color: #ffffff;"></i></span>
                    <span class="titulo">Notícias</span>
                </a>
            </li>

            <li class="list">
                <a href="pauta-admin.html">
                    <span class="icons"><i class="fa-solid fa-upload fa-xl" style="color: #ffffff;"></i></span>
                    <span class="titulo">Pautas</span>
                </a>
            </li>

            <li class="list">
                <a href="alunos-admitidos.html">
                    <span class="icons"><i class="fa-solid fa-list fa-xl" style="color: #ffffff;"></i></i></span>
                    <span class="titulo">Inscrição</span>
                </a>
            </li>

            <li class="list">
                <a href="index.html">
                    <span class="icons"><i class="fa-solid fa-arrow-right-from-bracket fa-xl" style="color: #ffffff;"></i></span>
                    <span class="titulo">Sair</span>
                </a>
            </li>
        </ul>
    </div>


    <div class="area-publicacao">
        <div class="area-procura">
            <span ><input type="search" name="procura" id="procura" placeholder="Digite aqui o título de uma publicação" class="input-search"></span>
           <span><i class="fa-solid fa-magnifying-glass fa-2xl" style="color: #06338a;"></i></span>
        </div>

        <div class="publicacoes">
            <div class="lista-de-publicacoes">
                <article class="publicacao">
                    <p class="p-titulo">Título: Pauta trimestral</p>        
                    <p class="p-data">Data: 17/12/2022</p>  
                    <a href="./informacoes-da-noticia.html" class="a-abrir-publicacao">Abrir</a>
                    <div class="div-botoes-2">
                        <a href="editar-informacao.html" class="a-editar-publicacao">Editar</a>
                        <button class="btn-eliminar-publicacao">Eliminar</button>
                    </div>
                </article>

                <article class="publicacao">
                    <p class="p-titulo">Título: Pauta trimestral</p>        
                    <p class="p-data">Data: 17/12/2022</p>  
                    <a href="./informacoes-da-noticia.html" class="a-abrir-publicacao">Abrir</a>
                    <div class="div-botoes-2">
                        <a href="editar-informacao.html" class="a-editar-publicacao">Editar</a>
                        <button class="btn-eliminar-publicacao">Eliminar</button>
                    </div>
                </article>

                <article class="publicacao">
                    <p class="p-titulo">Título: Pauta trimestral</p>        
                    <p class="p-data">Data: 17/12/2022</p>  
                    <a href="./informacoes-da-noticia.html" class="a-abrir-publicacao">Abrir</a>
                    <div class="div-botoes-2">
                        <a href="editar-informacao.html" class="a-editar-publicacao">Editar</a>
                        <button class="btn-eliminar-publicacao">Eliminar</button>
                    </div>
                </article>

                <article class="publicacao">
                    <p class="p-titulo">Título: Pauta trimestral</p>        
                    <p class="p-data">Data: 17/12/2022</p>  
                    <a href="./informacoes-da-noticia.html" class="a-abrir-publicacao">Abrir</a>
                    <div class="div-botoes-2">
                        <a href="editar-informacao.html" class="a-editar-publicacao">Editar</a>
                        <button class="btn-eliminar-publicacao">Eliminar</button>
                    </div>
                </article>

                <article class="publicacao">
                    <p class="p-titulo">Título: Pauta trimestral</p>        
                    <p class="p-data">Data: 17/12/2022</p>  
                    <a href="./informacoes-da-noticia.html" class="a-abrir-publicacao">Abrir</a>
                    <div class="div-botoes-2">
                        <a href="editar-informacao.html" class="a-editar-publicacao">Editar</a>
                        <button class="btn-eliminar-publicacao">Eliminar</button>
                    </div>
                </article>

                <article class="publicacao">
                    <p class="p-titulo">Título: Pauta trimestral</p>        
                    <p class="p-data">Data: 17/12/2022</p>  
                    <a href="./informacoes-da-noticia.html" class="a-abrir-publicacao">Abrir</a>
                    <div class="div-botoes-2">
                        <a href="editar-informacao.html" class="a-editar-publicacao">Editar</a>
                        <button class="btn-eliminar-publicacao">Eliminar</button>
                    </div>
                </article>

                <article class="publicacao">
                    <p class="p-titulo">Título: Pauta trimestral</p>        
                    <p class="p-data">Data: 17/12/2022</p>  
                    <a href="./informacoes-da-noticia.html" class="a-abrir-publicacao">Abrir</a>
                    <div class="div-botoes-2">
                        <a href="editar-informacao.html" class="a-editar-publicacao">Editar</a>
                        <button class="btn-eliminar-publicacao">Eliminar</button>
                    </div>
                </article>

                <article class="publicacao">
                    <p class="p-titulo">Título: Pauta trimestral</p>        
                    <p class="p-data">Data: 17/12/2022</p>  
                    <a href="./informacoes-da-noticia.html" class="a-abrir-publicacao">Abrir</a>
                    <div class="div-botoes-2">
                        <a href="editar-informacao.html" class="a-editar-publicacao">Editar</a>
                        <button class="btn-eliminar-publicacao">Eliminar</button>
                    </div>
                </article>

                <article class="publicacao">
                    <p class="p-titulo">Título: Pauta trimestral</p>        
                    <p class="p-data">Data: 17/12/2022</p>  
                    <a href="./informacoes-da-noticia.html" class="a-abrir-publicacao">Abrir</a>
                    <div class="div-botoes-2">
                        <a href="editar-informacao.html" class="a-editar-publicacao">Editar</a>
                        <button class="btn-eliminar-publicacao">Eliminar</button>
                    </div>
                </article>

                <article class="publicacao">
                    <p class="p-titulo">Título: Pauta trimestral</p>        
                    <p class="p-data">Data: 17/12/2022</p>  
                    <a href="./informacoes-da-noticia.html" class="a-abrir-publicacao">Abrir</a>
                    <div class="div-botoes-2">
                        <a href="editar-informacao.html" class="a-editar-publicacao">Editar</a>
                        <button class="btn-eliminar-publicacao">Eliminar</button>
                    </div>
                </article>

                <article class="publicacao">
                    <p class="p-titulo">Título: Pauta trimestral</p>        
                    <p class="p-data">Data: 17/12/2022</p>  
                    <a href="./informacoes-da-noticia.html" class="a-abrir-publicacao">Abrir</a>
                    <div class="div-botoes-2">
                        <a href="editar-informacao.html" class="a-editar-publicacao">Editar</a>
                        <button class="btn-eliminar-publicacao">Eliminar</button>
                    </div>
                </article>

                <article class="publicacao">
                    <p class="p-titulo">Título: Pauta trimestral</p>        
                    <p class="p-data">Data: 17/12/2022</p>  
                    <a href="./informacoes-da-noticia.html" class="a-abrir-publicacao">Abrir</a>
                    <div class="div-botoes-2">
                        <a href="editar-informacao.html" class="a-editar-publicacao">Editar</a>
                        <button class="btn-eliminar-publicacao">Eliminar</button>
                    </div>
                </article>

                <article class="publicacao">
                    <p class="p-titulo">Título: Pauta trimestral</p>        
                    <p class="p-data">Data: 17/12/2022</p>  
                    <a href="./informacoes-da-noticia.html" class="a-abrir-publicacao">Abrir</a>
                    <div class="div-botoes-2">
                        <a href="editar-informacao.html" class="a-editar-publicacao">Editar</a>
                        <button class="btn-eliminar-publicacao">Eliminar</button>
                    </div>
                </article>

                <article class="publicacao">
                    <p class="p-titulo">Título: Pauta trimestral</p>        
                    <p class="p-data">Data: 17/12/2022</p>  
                    <a href="./informacoes-da-noticia.html" class="a-abrir-publicacao">Abrir</a>
                    <div class="div-botoes-2">
                        <a href="editar-informacao.html" class="a-editar-publicacao">Editar</a>
                        <button class="btn-eliminar-publicacao">Eliminar</button>
                    </div>
                </article>

                <article class="publicacao">
                    <p class="p-titulo">Título: Pauta trimestral</p>        
                    <p class="p-data">Data: 17/12/2022</p>  
                    <a href="./informacoes-da-noticia.html" class="a-abrir-publicacao">Abrir</a>
                    <div class="div-botoes-2">
                        <a href="editar-informacao.html" class="a-editar-publicacao">Editar</a>
                        <button class="btn-eliminar-publicacao">Eliminar</button>
                    </div>
                </article>

                <article class="publicacao">
                    <p class="p-titulo">Título: Pauta trimestral</p>        
                    <p class="p-data">Data: 17/12/2022</p>  
                    <a href="./informacoes-da-noticia.html" class="a-abrir-publicacao">Abrir</a>
                    <div class="div-botoes-2">
                        <a href="editar-informacao.html" class="a-editar-publicacao">Editar</a>
                        <button class="btn-eliminar-publicacao">Eliminar</button>
                    </div>
                </article>

                <article class="publicacao">
                    <p class="p-titulo">Título: Pauta trimestral</p>        
                    <p class="p-data">Data: 17/12/2022</p>  
                    <a href="./informacoes-da-noticia.html" class="a-abrir-publicacao">Abrir</a>
                    <div class="div-botoes-2">
                        <a href="editar-informacao.html" class="a-editar-publicacao">Editar</a>
                        <button class="btn-eliminar-publicacao">Eliminar</button>
                    </div>
                </article>

                <article class="publicacao">
                    <p class="p-titulo">Título: Pauta trimestral</p>        
                    <p class="p-data">Data: 17/12/2022</p>  
                    <a href="./informacoes-da-noticia.html" class="a-abrir-publicacao">Abrir</a>
                    <div class="div-botoes-2">
                        <a href="editar-informacao.html" class="a-editar-publicacao">Editar</a>
                        <button class="btn-eliminar-publicacao">Eliminar</button>
                    </div>
                </article>

                <article class="publicacao">
                    <p class="p-titulo">Título: Pauta trimestral</p>        
                    <p class="p-data">Data: 17/12/2022</p>  
                    <a href="./informacoes-da-noticia.html" class="a-abrir-publicacao">Abrir</a>
                    <div class="div-botoes-2">
                        <a href="editar-informacao.html" class="a-editar-publicacao">Editar</a>
                        <button class="btn-eliminar-publicacao">Eliminar</button>
                    </div>
                </article>

                <article class="publicacao">
                    <p class="p-titulo">Título: Pauta trimestral</p>        
                    <p class="p-data">Data: 17/12/2022</p>  
                    <a href="./informacoes-da-noticia.html" class="a-abrir-publicacao">Abrir</a>
                    <div class="div-botoes-2">
                        <a href="editar-informacao.html" class="a-editar-publicacao">Editar</a>
                        <button class="btn-eliminar-publicacao">Eliminar</button>
                    </div>
                </article>
            </div>
        </div>

        <div class="div-btn-publicar">
            <a href="publicar-informacao.html" class="btn-publicar">Nova Informação</a>
        </div>
    </div>
    <script src="../public/js/index-admin.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>