<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="page-not-found.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Página não encontrada</title>
</head>
<body>
    <!-- x ---------- Início da parte principal ---------- x -->
    <main>
        <!-- x ---------- Início da primeira seção da parte principal ---------- x -->
        <section class="unica-secao">

            <h1 class="titulo-1 text-center mb-20">404</h1><!-- x --- Primeiro título da página --- x -->

            <h2 class="titulo-2 text-center">Ups, página não encontrada</h2>

            <p class="unico-p text-center">Desculpe, mas a página que pretendia acessar não foi encontrada.</p>
        </section>
        <!-- x ---------- Fim da primeira seção da parte principal ---------- x -->
    </main>
    <!-- x ---------- Fim da parte principal ---------- x -->
</body>
</html>