<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área de Pautas</title>
    <link rel="stylesheet" href="../public/webfont/fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="stylesheet" href="../public/webfont/fontawesome-free-6.3.0-web/css/fontawesome.min.css">
    <link rel="stylesheet" href="../public/css/style3.css">
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
    <div class="lateral-menu">
        <ul>
            <li class="list active">
                <a href="index-admin.html">
                    <span class="icons"><i class="fa-solid fa-gear fa-xl" style="color: #ffffff;"></i></span>
                    <span class="titulo">Administrador</span>
                </a>
            </li>

            <li class="list">
                <a href="noticias-admin.html">
                    <span class="icons"><i class="fa-regular fa-bell fa-xl" style="color: #ffffff;"></i></span>
                    <span class="titulo">Notícias</span>
                </a>
            </li>

            <li class="list">
                <a href="pauta-admin.html">
                    <span class="icons"><i class="fa-solid fa-upload fa-xl" style="color: #ffffff;"></i></span>
                    <span class="titulo">Pautas</span>
                </a>
            </li>

            <li class="list">
                <a href="alunos-admitidos.html">
                    <span class="icons"><i class="fa-solid fa-list fa-xl" style="color: #ffffff;"></i></i></span>
                    <span class="titulo">Inscrição</span>
                </a>
            </li>

            <li class="list">
                <a href="index.html">
                    <span class="icons"><i class="fa-solid fa-arrow-right-from-bracket fa-xl" style="color: #ffffff;"></i></span>
                    <span class="titulo">Sair</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="area-publicacao">
        <div class="area-procura">
            <span ><input type="search" name="procura" id="procura" placeholder="Digite aqui o nome da turma" class="input-search"></span>
           <span><i class="fa-solid fa-magnifying-glass fa-2xl" style="color: #ffffff;"></i></span>
        </div>

        <div class="div-table-pauta">
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Turma</th>
                        <th>Trimeste</th>
                        <th>Ano Letivo</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr>
                        <td>I10AM</td>
                        <td>Iº Trimestre</td>
                        <td>2022/2023</td>
                        <td><a href="#"><i class="fa-solid fa-eye fa-lg" style="color: #ffffff;"></i></a></td>
                        <td><a href="#"><i class="fa-solid fa-trash fa-lg" style="color: #d61f0a;"></i></a></td>
                    </tr>
    
                    <tr>
                        <td>I10BM</td>
                        <td>Iº Trimestre</td>
                        <td>2022/2023</td>
                        <td><a href="#"><i class="fa-solid fa-eye fa-lg" style="color: #ffffff;"></i></a></td>
                        <td><a href="#"><i class="fa-solid fa-trash fa-lg" style="color: #d61f0a;"></i></a></td>
                    </tr>
    
                    <tr>
                        <td>I10CM</td>
                        <td>Iº Trimestre</td>
                        <td>2022/2023</td>
                        <td><a href="#"><i class="fa-solid fa-eye fa-lg" style="color: #ffffff;"></i></a></td>
                        <td><a href="#"><i class="fa-solid fa-trash fa-lg" style="color: #d61f0a;"></i></a></td>
                    </tr>
    
                    <tr>
                        <td>I13AT</td>
                        <td>Iº Trimestre</td>
                        <td>2022/2023</td>
                        <td><a href="#"><i class="fa-solid fa-eye fa-lg" style="color: #ffffff;"></i></a></td>
                        <td><a href="#"><i class="fa-solid fa-trash fa-lg" style="color: #d61f0a;"></i></a></td>
                    </tr>
    
                    <tr>
                        <td>I13BT</td>
                        <td>Iº Trimestre</td>
                        <td>2022/2023</td>
                        <td><a href="#"><i class="fa-solid fa-eye fa-lg" style="color: #ffffff;"></i></a></td>
                        <td><a href="#"><i class="fa-solid fa-trash fa-lg" style="color: #d61f0a;"></i></a></td>
                    </tr>
    
                    <tr>
                        <td>I13CT</td>
                        <td>Iº Trimestre</td>
                        <td>2022/2023</td>
                        <td><a href="#"><i class="fa-solid fa-eye fa-lg" style="color: #ffffff;"></i></a></td>
                        <td><a href="#"><i class="fa-solid fa-trash fa-lg" style="color: #d61f0a;"></i></a></td>
                    </tr>

                    <tr>
                        <td>I12AM</td>
                        <td>Iº Trimestre</td>
                        <td>2022/2023</td>
                        <td><a href="#"><i class="fa-solid fa-eye fa-lg" style="color: #ffffff;"></i></a></td>
                        <td><a href="#"><i class="fa-solid fa-trash fa-lg" style="color: #d61f0a;"></i></a></td>
                    </tr>

                    <tr>
                        <td>I12BM</td>
                        <td>Iº Trimestre</td>
                        <td>2022/2023</td>
                        <td><a href="#"><i class="fa-solid fa-eye fa-lg" style="color: #ffffff;"></i></a></td>
                        <td><a href="#"><i class="fa-solid fa-trash fa-lg" style="color: #d61f0a;"></i></a></td>
                    </tr>


                    <tr>
                        <td>I11BM</td>
                        <td>Iº Trimestre</td>
                        <td>2022/2023</td>
                        <td><a href="#"><i class="fa-solid fa-eye fa-lg" style="color: #ffffff;"></i></a></td>
                        <td><a href="#"><i class="fa-solid fa-trash fa-lg" style="color: #d61f0a;"></i></a></td>
                    </tr>

                    <tr>
                        <td>E10BM</td>
                        <td>Iº Trimestre</td>
                        <td>2022/2023</td>
                        <td><a href="#"><i class="fa-solid fa-eye fa-lg" style="color: #ffffff;"></i></a></td>
                        <td><a href="#"><i class="fa-solid fa-trash fa-lg" style="color: #d61f0a;"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="div-btn-publicar">
            <a href="#" class="btn-publicar">Cadastrar Pauta</a>
        </div>
    </div>

    <script>
        const list = document.querySelectorAll('.list');
        function activeLink(){
            list.forEach((item) =>
            item.classList.remove('active'));
            this.classList.add('active');
        }
        list.forEach((item) => 
        item.addEventListener('click', activeLink));
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>