<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicar informação</title>
    <link rel="stylesheet" href="../public/webfont/fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="stylesheet" href="../public/webfont/fontawesome-free-6.3.0-web/css/fontawesome.min.css">
    <link rel="stylesheet" href="../public/css/publicar-informacao.css">
</head>
<body>
    <main>
        <form action="">
            <div class="div-texto">
                <h3>Cadastre aqui uma nova pauta</h3>
                <p class="unico-p">Introduza o nome da turma que deseja publicar a pauta.</p>
            </div>
            <div class="div-input">
                <input type="text" placeholder="Nome da turma">
            </div>

            <div class="div-input">
                <input type="file" class="input-pauta">
            </div>

            <div class="div-link-e-botao">
                <a href="index-admin.html" class="a-retroceder">Voltar</a>
                <input type="submit" value="Publicar">
            </div>
        </form>
    </main>
</body>
</html>