<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website IPIAL</title>
    <link rel="stylesheet" href="../src/public/css/main.css">
    <link rel="stylesheet" href="../src/public/css/quadros.css">
    <link rel="stylesheet" href="../src/public/webfont/fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <!-- x ---------- Início do cabeçalho ---------- x -->
    <section class="sub-header">
        <!-- x ---------- Ínicio da barra de navegação ---------- x -->
        <nav>
            <a href="http://localhost/ipial-alda-lara/Homel"><img src="../src/public/img/ipial.png" alt="Logo"></a>
            <section class="nav-links" id="nav-links">
                <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="http://localhost/ipial-alda-lara/Home">PÁGINA INICIAL</a></li>
                    <li class="dropdown">
                        <a href="http://localhost/ipial-alda-lara/Sobre/Quem_somos">SOBRE O IPIAL</a>
                        <div class="dropdown-menu">
                            <a href="http://localhost/ipial-alda-lara/Sobre/Quem_somos">Quem somos</a>
                            <a href="http://localhost/ipial-alda-lara/Sobre/Nossos_Quadros">Nossos Quadros</a>
                            <a href="http://localhost/ipial-alda-lara/Sobre/Infraestrutura">Infraestrutura</a>
                        </div>
                    </li>
                    <li><a href="http://localhost/ipial-alda-lara/Aluno">ALUNO</a></li>
                    <li><a href="http://localhost/ipial-alda-lara/Anuncios">ANÚNCIOS</a></li>
                    <li><a href="http://localhost/ipial-alda-lara/Contactos">CONTACTOS</a></li>
                </ul>
            </section>
            <i class="fa-solid fa-bars" onclick="showMenu()"></i>
        </nav>
        <!-- x ---------- Fim da barra de navegação ---------- x -->
        <h1>Nossos Quadros</h1>
    </section>
    <!-- x ---------- Fim do cabeçalho ---------- x -->
    
    <!-- x ---------- Início do conteúdo principal ---------- x -->
    <main>
        <!-- x ---------- Início da secção dos Quadros ---------- x -->
        <h2 class="title-direcao">Direcção Executiva</h2>
        <hr class="linha-quadros">
        <article class="card">
			<div class="card__inner">
				<div class="card__body card__body--front">
					<h2 class="h2-card">Diretor Geral</h2>
				</div>
				<div class="card__body card__body--back">
                    <img src="../src/public/img/diretor_geral.JPG" alt="Diretor Geral" class="alter-img">
					<h2>Vitorino Caculo</h2>
                    <h3 class="h3-formacao-quadros">Doutorado em...</h3>
				</div>
			</div>
        </article>

        <section class="container-dr-executiva">
            <article class="card child-dr-executiva">
                <div class="card__inner">
                    <div class="card__body card__body--front">
                        <h2 class="h2-card">Subdiretor Pedagógico</h2>
                    </div>
                    <div class="card__body card__body--back">
                        <img src="../src/public/img/sub_pedagogico.JPG" alt="Subdiretor Pedagógico" class="alter-img">
                        <h2>Domingos Agostinho</h2>
                        <h3 class="h3-formacao-quadros">Doutorado em...</h3>
                    </div>
                </div>
            </article>

            <article class="card child-dr-executiva">
                <div class="card__inner">
                    <div class="card__body card__body--front">
                        <h2 class="h2-card">Subdiretora Administrativa</h2>
                    </div>
                    <div class="card__body card__body--back">
                        <img src="../src/public/img/sub_admin.JPG" alt="Subdiretora Administrativa" class="alter-img">
                        <h2>Maria Diassonama</h2>
                        <h3 class="h3-formacao-quadros">Licenciada em Gestão e Administração Pública</h3>
                    </div>
                </div>
            </article>
        </section>
        
        <!-----------------------------Área dos Coordenadores---------------------------------->
        <h2 class="title-direcao">Coordenadores das Áreas</h2>
        <hr class="linha-quadros">
        <section class="container-coordenadores">
            <article class="card child-coordenadores">
                <div class="card__inner">
                    <div class="card__body card__body--front">
                        <h2 class="h2-card">Coordenador de Construção Civil</h2>
                    </div>
                    <div class="card__body card__body--back">
                        <img src="../src/public/img/director.jpg" alt="Coordenador de  Construção Civil" class="alter-img">
                        <h2>Ernest Emock</h2>
                        <h3 class="h3-formacao-quadros">Licenciado em...</h3>
                    </div>
                </div>
            </article>
    
            <article class="card child-coordenadores">
                <div class="card__inner">
                    <div class="card__body card__body--front">
                        <h2 class="h2-card">Coordenador de Eletricidade</h2>
                    </div>
                    <div class="card__body card__body--back">
                        <img src="../src/public/img/director.jpg" alt="Coordenadora de Eletricidade" class="alter-img">
                        <h2>Joana Pires</h2>
                        <h3 class="h3-formacao-quadros">Licenciado em...</h3>
                    </div>
                </div>
            </article>
    
            <article class="card child-coordenadores">
                <div class="card__inner">
                    <div class="card__body card__body--front">
                        <h2 class="h2-card">Coordenador de Informática</h2>
                    </div>
                    <div class="card__body card__body--back">
                        <img src="../src/public/img/director.jpg" alt="Coordenador de Informática" class="alter-img">
                        <h2>Sivi Sebastião</h2>
                        <h3 class="h3-formacao-quadros">Licenciado em Engenharia Informática</h3>
                    </div>
                </div>
            </article>
        </section>
        <!-- x ---------- Fim da secção dos Quadros ---------- x -->
    </main>
    <!-- x ---------- Fim do conteúdo principal ---------- x -->
    
    <!-- x ---------- Início do Footer ---------- x -->
    <footer>
        <section class="icons">
            <a href="https://www.facebook.com/groups/285320911631577"target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/explore/locations/1016981729/alda-lara-impal/"target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/search/results/all/?keywords=Alda%20Lara&origin=GLOBAL_SEARCH_HEADER&sid=zUa" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="http://localhost/ipial-alda-lara/Autenticacao"><i class="fa-solid fa-arrow-right-to-bracket fa-xl fa-solid-login"></i></a> 
        </section>
        <p class="last-p"><i class="fa-sharp fa-regular fa-copyright fa-sm"></i> 2023 IPIAL - Instituto Politécnico Industrial Alda Lara | TODOS OS DIREITOS RESERVADOS</p>
    </footer>
    <!-- x ---------- Fim do Footer ---------- x -->
    <script src="src/public/js/app.js"></script>
</body>
</html>