<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website IPIAL</title>
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/webfont/fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
</head>
<body>
    <!-- x ---------- Início do cabeçalho ---------- x -->
    <section class="sub-header">
        <!-- x ---------- Ínicio da barra de navegação ---------- x -->
        <nav>
            <a href="index.html"><img src="../public/img/ipial.png" alt="Logo"></a>
            <section class="nav-links" id="nav-links">
                <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="index.html">PÁGINA INICIAL</a></li>
                    <li class="dropdown">
                        <a href="sobre-o-ipial.html">SOBRE O IPIAL</a>
                        <div class="dropdown-menu">
                            <a href="sobre-o-ipial.html">Quem nós somos</a>
                            <a href="quadros.html">Nossos Quadros</a>
                            <a href="infraestrutura.html">Infraestrutura</a>
                        </div>
                    </li>
                    <li><a href="aluno.html">ALUNO</a></li>
                    <li><a href="anuncios.html">ANÚNCIOS</a></li>
                    <li><a href="contactos.html">CONTACTOS</a></li>
                </ul>
            </section>
            <i class="fa-solid fa-bars" onclick="showMenu()"></i>
        </nav>
        <!-- x ---------- Fim da barra de navegação ---------- x -->
        <h1>Nossos Quadros</h1>
    </section>
    <!-- x ---------- Fim do cabeçalho ---------- x -->
    
    <!-- x ---------- Início do conteúdo principal ---------- x -->
    <main>
        <!-- x ---------- Início da secção do Blog ---------- x -->
        <div>
        <h1  class="title-quadros">Perfil do Diretor Geral</h1>
        <hr class="linha-horizontal">            
        <div class="director-geral">
            <img src="../public/img/director.jpg" alt="Imagem do Director Geral" class="img-quadros">
            <h2 class="title-quadros">Vitorino André Caculo
            </br>
            <small>Diretor Geral<small>
            </h2>
            <h3 class="title-quadros">Doutorado em Electromagnética</h3>
        </div>

        <h1 class="title-quadros" style="margin-top:5%;">Perfil dos Subdiretores</h1>
        <hr class="linha-horizontal">
       <article class="linha-outros_quadros">

        <div class="coluna-outros_quadros">
            <img src="../public/img/director.jpg" alt="Subdiretora do IPIAL" class="img-quadros">
            <h2 class="title-quadros">Maria de Almeida Diassonama
            </br>
            <small>Subdiretora Administrativa</small>
            </h2>
            <h3 class="title-quadros">Licenciada em Gestão e Administração Pública</h3>
        </div>
        
        <div class="coluna-outros_quadros">
            <img src="../public/img/director.jpg" alt="Subdiretora do IPIAL" class="img-quadros">
            <h2 class="title-quadros">Jão Manuel Gonsalves
            </br>
            <small>Subdiretor Pedagógico</small>
            </h2>
            <h3 class="title-quadros">Licenciada em Gestão e Administração Pública</h3>
        </div>

       </article>

       <h1 class="title-quadros" style="margin-top:5%;">Perfil dos Coordenadores</h1>
       <hr class="linha-horizontal">
       <article class="linha-outros_quadros">

        <div class="coluna-outros_quadros">
            <img src="../public/img/director.jpg" alt="Subdiretora do IPIAL" class="img-quadros">
            <h2 class="title-quadros">António Pedro
            </br>
            <small>Coordenador de Construção Cívil</small>
            </h2>
            <h3 class="title-quadros">Licenciada em Gestão e Administração Pública</h3>
        </div>
        
        <div class="coluna-outros_quadros">
            <img src="../public/img/director.jpg" alt="Subdiretora do IPIAL" class="img-quadros">
            <h2 class="title-quadros">Joana Pires
            </br>
            <small>Coordenandora de ELetricidade</small>
            </h2>
            <h3 class="title-quadros">Licenciada em Gestão e Administração Pública</h3>
        </div>

        <div class="coluna-outros_quadros">
            <img src="../public/img/director.jpg" alt="Subdiretora do IPIAL" class="img-quadros">
            <h2 class="title-quadros">Patrícia Miguel
            </br>
            <small>Coordenadora de Electrónicas e Telecomunicações</small>
            </h2>
            <h3 class="title-quadros">Licenciada em Gestão e Administração Pública</h3>
        </div>

        <div class="coluna-outros_quadros">
            <img src="../public/img/director.jpg" alt="Subdiretora do IPIAL" class="img-quadros">
            <h2 class="title-quadros">Sivi Sebastião
            </br>
            <small>Coordenador de Informática</small>
            </h2>
            <h3 class="title-quadros">Licenciada em Gestão e Administração Pública</h3>
        </div>

       </article>
        <!-- x ---------- Fim da secção do Blog ---------- x -->
    </main>
    <!-- x ---------- Fim do conteúdo principal ---------- x -->
    
    <!-- x ---------- Início do Footer ---------- x -->
    <footer>
        <section class="icons">
            <a href="https://www.facebook.com/groups/285320911631577"target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/explore/locations/1016981729/alda-lara-impal/"target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/search/results/all/?keywords=Alda%20Lara&origin=GLOBAL_SEARCH_HEADER&sid=zUa" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="login.html"><i class="fa-solid fa-arrow-right-to-bracket fa-xl fa-solid-login"></i></a> 
        </section>
        <p class="last-p"><i class="fa-sharp fa-regular fa-copyright fa-sm"></i> 2023 IPIAL - Instituto Politécnico Industrial Alda Lara | TODOS OS DIREITOS RESERVADOS</p>
    </footer>
    <!-- x ---------- Fim do Footer ---------- x -->
    <script src="../public/js/app.js"></script>
</body>
</html>