<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="recuperar-a-senha.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Recuperar a senha</title>
</head>
<body>
    <!-- x ---------- Início da parte principal ---------- x -->
    <main>
        <!-- x ---------- Início da primeira seção da parte principal ---------- x -->
        <section class="unica-secao">

            <h1 class="titulo-1 text-center mb-20">Recupere a sua senha</h1><!-- x --- Primeiro título da página --- x -->

            <p class="unico-p text-center">Introduza o código enviado no seu e-mail para receber os seus dados de autenticação.</p>

            <div class="div-input-and-btn">
                <input class="input-codigo" type="text" placeholder="Introduza o código" name="codigo">
                <button class="btn-enviar-codigo" type="submit">Confirmar código</button>
            </div>
            <div class="div-input-and-btn">
                <input class="input-username" type="text" name="username" disabled>
                <input class="input-password" type="text" name="password" disabled>
            </div>
            <div class="div-link">
                <a href="#" class="a-voltar">Voltar</a>
            </div>
        </section>
        <!-- x ---------- Fim da primeira seção da parte principal ---------- x -->
    </main>
    <!-- x ---------- Fim da parte principal ---------- x -->
</body>
</html>