@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/**************Estilo do body do Admin******************/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
}

/*Estilo do menu lateral*/
.lateral-menu{
    height: 100vh;
    position: relative;
    right: 0%;
    width: 70px;
    height: 500px;
    background-color: #f34d00;
    box-shadow: 10px 0 0 #06338a;
    border-left: 10px solid #f34d00;
    overflow-x: hidden;
    transition: 0.5s;
}

.lateral-menu:hover{
    width: 250px;
}
.lateral-menu ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;

}
.lateral-menu ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.lateral-menu ul li a{
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.lateral-menu ul li a .icons{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}

.lateral-menu ul li a .icons fa-solid, fa-regular{
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
    
}

.lateral-menu ul li a .titulo{
    position: relative;
    display: block;
    padding-left: -5px;
    height: 60px;
    line-height: 65px;
    white-space: nowrap;
}


.lateral-menu ul li.active{
    background-color: #06338a;

}

.lateral-menu ul li.active a::before{
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 5px;
    height: 15px;
    background-color: #f34d00;
    border-radius: 50%;
    box-shadow: 15px 15px 0 #06338a;

}

.lateral-menu ul li.active a::after{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 5px;
    height: 15px;
    background-color: #f34d00;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #06338a;

}

/**************Estilo do botão de inscrição ON e OFF****************/

/*Área de Publicação*/
div.area-publicacao{
    width: 70%;
    min-height: 100vh;
    background-color: #fff;
}

.lista-de-publicacoes{
    width: 100%;
    padding: 9px 5px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.publicacao{
    width: 24%;
    height: inherit;
    border: 2px solid #06338a;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.p-titulo, .p-data{
    color: black;
    font-size: 1.3rem;
    text-align: center;
}

.a-abrir-publicacao, .a-editar-publicacao{
    text-decoration: none;
}

.a-abrir-publicacao, .a-editar-publicacao, .btn-eliminar-publicacao{
    font-size: 1.5rem;
    color: white;
    text-align: center;
    cursor: pointer;
}

.a-editar-publicacao, .btn-eliminar-publicacao{
    width: 50%;
}

.a-abrir-publicacao{
    width: 100%;
    background-color: #06338a;
}

.a-editar-publicacao{
    background-color: rgb(30, 190, 30);
    transition: 0.3s;
}

.a-editar-publicacao:hover{
    background-color: white;
    color: rgb(30, 190, 30);
}

.btn-eliminar-publicacao{
    background-color: red;
    transition: 0.3s;
}

.btn-eliminar-publicacao:hover{
    background-color: white;
    color: red;
}

.div-botoes-2{
    display: flex;
}

div.area-procura{
    width: 70%;
    height: 45px;
    margin: 15px auto;
}
.input-search{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.3rem;
    background-color: #bcbcbc;
}

.publicacoes{
    width: 90%;
    height: 80vh;
    margin: auto;
    background-color: #fff;
}

.div-btn-publicar{
    display: flex;
    justify-content: center;
    width: 135px;
    height: 35px;
    margin: auto;
    margin-top: 10px;
    border-radius: 25px;
    text-align: center;
    border: 2px solid #06338a;
}

.div-btn-publicar .btn-publicar{
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: #06338a;
    padding: 8px;
    font-size: 1.2rem;
    font-weight: 600;
}

.div-btn-publicar:hover{
    border: 3px solid #f34d00;
    transition: 0.3s;
}


/*Estilo da tabela das pautas*/
.div-table-pauta{
    width: 95%;
    margin: 20px auto;
}

.content-table{
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    font-size: 1.2rem;   
    
}

.content-table thead tr{
    background-color: #f34d00;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.content-table th, .content-table td{
    padding: 10px 10px;
}
.content-table tbody tr{
    border-bottom: 1.5px solid #2a2a2a;
}
.content-table td{
    color: #9d9d9d;
}
/****************Estilo da area de admitidos*************************/
.div-area-admitidos{
    width: 70%;
    min-height: 100vh;
    background-color: #fff;
}
.div-table-admitidos{
    width: 95%;
}

.table-admitidos{
    border-collapse: collapse;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    font-size: 1.4rem;
}

.cabecalho-table-admitidos th{
    background-color: #f34d00;
    color:#fff;
    font-size: 1.7rem;
    font-weight: bold;
    padding: 5px;
}

.corpo-table-admitidos, td{
    padding: 7px 25px;
    color: rgb(59, 59, 59);
    border-bottom: 3px solid rgb(198, 198, 198);
}

/*Estilo do input da pauta*/
.input-pauta{
    width: 80%;
    border:2px solid black;
    border-radius: 25px;
}
